<input style="width:<%= width %>px" type="text" name="<%= name %>_label" id="<%= name %>Modal"/>
<input type="hidden" name="<%= name %>" <%if(typeof(default_name)!='undefined'){%>value="<%=default_id%>"<%}%>/>

<script type="application/javascript">

    var <%= name %>ZtreeNodes = <%- treejson %>;
    <%if(typeof(default_id)!='undefined'){%>

        //根据ID寻找该树形的所有名称轨迹
        function findTreeTexts(nodeJson,id,texts){
            if(texts){
                //第一次以后搜索孩子
                for(var i=0;i<nodeJson.length;i++){
                    if(nodeJson[i].id == id){
                        texts = nodeJson[i].name+'-'+texts;
                        return findTreeTexts(nodeJson,nodeJson[i].parent_id,texts);
                    }
                }
                return texts;
            }else{
                //第一次搜索ID
                for(var i=0;i<nodeJson.length;i++){
                    if(nodeJson[i].id == id){
                        texts = nodeJson[i].name;
                        return findTreeTexts(nodeJson,nodeJson[i].parent_id,texts);
                    }
                }
            }
        }

        $('#<%= name %>Modal').val(findTreeTexts(<%= name %>ZtreeNodes,'<%=default_id%>'));
    <%}%>

    //如果有默认id就把整个属性找到进行
    var <%= name %>TreeJox = new jBox('Modal', {
        width: <%=treeWidth%>,
        height: <%=treeHeight%>,
        blockScroll: false,
        animation: 'zoomIn',
        draggable: 'title',
        closeButton: true,
        overlay: false,
        reposition: false,
        repositionOnOpen: false,
        attach: $('#<%= name %>Modal'),
        title: '<%=treeTitle%>',
        content: '<div id="<%= name %>TreeContent" class="ztree"></div>',
        footer:'<a class="btn-flat" id="<%= name %>ConfirmTree">确认</a>&nbsp;&nbsp;<a id="<%= name %>CancelTree" class="btn-flat white">取消</a>',
        onCreated: function () {
            var setting = {
                view: {
                    dblClickExpand: false,
                    showLine: true,
                    selectedMulti: false
                },
                data: {
                    simpleData: {
                        enable: true,
                        idKey: "id",
                        pIdKey: "parent_id",
                        rootPId: "0"
                    }
                },
                callback: {
                }
            };

            //递归寻找祖先为止显示家谱
            function showGenealogy(node,text){
                if(text){
                    text=node.name+'-'+text;
                }else{
                    text = '';
                    text+=node.name;
                }

                //查看是否有上级，如果有就再次递归
                var parentNode = node.getParentNode();
                if(parentNode){
                    return showGenealogy(parentNode,text);
                }else{
                    return text;
                }
            }

            var <%= name %>TreeObj = $.fn.zTree.init($("#<%= name %>TreeContent"), setting, <%= name %>ZtreeNodes);
            <%= name %>TreeObj.expandAll(true);

            $('#<%= name %>ConfirmTree').click(function(){
                var nodes = <%= name %>TreeObj.getSelectedNodes();
                var label = showGenealogy(nodes[0]);
                $('input[name="<%= name %>_label"]').val(label);
                $('input[name="<%= name %>"]').val(nodes[0].id);

                <%= name %>TreeJox.close();
            });
            $('#<%= name %>CancelTree').click(function(){
                <%= name %>TreeJox.close();
            });
        }
    });
</script>
