<!DOCTYPE html>
<html>
<head>
  <title>站点管理 - 创建站点</title>
  <% include  ../include/head_res.ejs %>
  <% include  ../include/manage_com_res.ejs %>
  <!-- jstree -->
  <link href="/plugin/ztree/3.5.12/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet" type="text/css"/>
  <script src="/plugin/ztree/3.5.12/js/jquery.ztree.all-3.5.min.js" type="text/javascript"></script>

  <script src="/js/common/jquery.validate.js" type="text/javascript"></script>

  <!-- 编辑器 -->
  <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.all.js"> </script>
  <!-- 手机编辑器 -->
  <link href="/plugin/squire/css/color.css" type="text/css" rel="stylesheet" />
  <link href="/plugin/squire/css/squire.css" type="text/css" rel="stylesheet" />
  <link href="/plugin/squire/css/stylesheet.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" charset="utf-8" src="/plugin/squire/js/colorpicker.js"></script>
  <script type="text/javascript" charset="utf-8" src="/plugin/squire/js/squire-raw.js"></script>
<body>

<% include  ../include/header.ejs %>

<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
  </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div class="content">

  <div class="container-fluid">
    <div class="table-wrapper products-table section">
      <div class="row-fluid head">
        <div class="span12">
          <h4 style="float:left;display: inline-block">新增站点</h4>
        </div>
      </div>
      <div class="row-fluid">
        <form name="create" id="form" action="/manage/rea/store"  method="post">
          <input type="hidden" name="_csrf" value="<%= csrf_token %>">
          <% if(typeof(site)!='undefined'){%>
            <input type="hidden" name="id" value="<%=site.id%>"/>
          <%}%>
          <div class="row-fluid form-wrapper">
            <!-- left column -->
            <div class="span11 column">
              <div class="field-box">
                <label>站点名称:</label>
                <input style="width:400px" type="text" name="name" <%if(typeof(site)!='undefined'){%> value="<%=site.name%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>站点logo:</label>
                <input type="hidden" id="logo" name="logo" <%if(typeof(site)!='undefined'){%> value="<%=site.logo%>" <%}%>/>
                <%-include("../include/finder",{input:'logo',type:'images',selectMultiple:false,format:'[{@width@:200,@height@:200}]',showFormat:'{@width@:200,@height@:200}'})%>
              </div>
              <div class="field-box">
                <label>站点标题:</label>
                <input style="width:400px" type="text" name="title" <%if(typeof(site)!='undefined'){%> value="<%=site.title%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>站点域名:</label>
                <input style="width:400px" type="text" name="domain" <%if(typeof(site)!='undefined'){%> value="<%=site.domain%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>关键字:</label>
                <input style="width:400px" type="text" name="keywords" <%if(typeof(site)!='undefined'){%> value="<%=site.keywords%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>描述:</label>
                <input style="width:400px" type="text" name="description" <%if(typeof(site)!='undefined'){%> value="<%=site.description%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>copyright:</label>
                <textarea id="copyright" name="copyright" style="width:99%;height:300px;"><% if(typeof(site)!='undefined'){ %><%=site.copyright%><%}%></textarea>
                <%-include("../include/editor",{input:'copyright'})%>
              </div>
              <div class="field-box">
                <label>备注:</label>
                <textarea style="width:400px" name="remarks" rows="4"><% if(typeof(site)!='undefined'){ %><%=site.remarks%><%}%></textarea>
              </div>
            </div>
          </div>
          <% if(typeof(site)!='undefined'){%>
            <button type="submit" class="btn-glow inverse">确定修改</button>
          <%}else{%>
            <button type="submit" class="btn-glow inverse">确定添加</button>
          <%}%>
          <a class="btn-glow" href="javascript:window.history.back();">返回</a>
        </form>
      </div>
    </div>
    <script type="application/javascript">
      $(window).ready(function(){
        <% if(typeof(site)!='undefined'){%>
          $("#form").validate({
          rules: {
            name: "required",
            title: "required",
            domain:"required"
          },
          messages: {
            name: "站点名称必须填写",
            title: "站点标题必须填写",
            domain: "站点域名必须填写"
          },
          submitHandler:function(form){
            $.post('/manage/site/store',$('form[name="create"]').serialize(),function(data){
              if(data.result){
                window.location.href='/manage/site';
              }else{
                noticeInfo('fail',data.error);
              }
            });
          }
        });
        <%}else{%>
          $("#form").validate({
          rules: {
            name: "required",
            title: "required",
            domain:"required"
          },
          messages: {
            name: "站点名称必须填写",
            title: "站点标题必须填写",
            domain: "站点域名必须填写"
          },
          submitHandler:function(form){
            $.post('/manage/site/store',$('form[name="create"]').serialize(),function(data){
              if(data.result){
                window.location.href='/manage/site';
              }else{
                noticeInfo('fail',data.error);
              }
            }).error(function(data) {
              noticeInfo('fail','网络错误创建失败!请重试.');
            });
          }
        });
        <%}%>
      });
    </script>
  </div>
</div>

<% include  ../include/manage_footer_res.ejs %>
</body>
</html>