<% include  ../include/head_res.ejs %>
<% include  ../include/manage_com_res.ejs %>

<link rel="stylesheet" href="/plugin/jqueryFileUpload/css/jquery.fileupload.css">
<script src="/plugin/jqueryFileUpload/js/vendor/jquery.ui.widget.js"></script>
<script src="/plugin/jqueryFileUpload/js/jquery.iframe-transport.js"></script>
<script src="/plugin/jqueryFileUpload/js/jquery.fileupload.js"></script>

<!-- 相册管理器 -->
<link href="/plugin/imagesManage/css/jquery.imageManage.css" type="text/css" rel="stylesheet" />
<link href="/plugin/imagesManage/css/jquery.contextMenu.css" type="text/css" rel="stylesheet" />
<link href="/plugin/imagesManage/css/viewer.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="/plugin/imagesManage/js/jquery-ui.js"></script>
<script type="text/javascript" src="/plugin/imagesManage/js/viewer.js"></script>
<script type="text/javascript" src="/plugin/imagesManage/js/jquery.ui.position.js"></script>
<script type="text/javascript" src="/plugin/imagesManage/js/jquery.contextMenu.js"></script>
<script type="text/javascript" src="/plugin/imagesManage/js/jquery.imagesManage.js"></script>
<!-- jstree -->
<link href="/plugin/ztree/3.5.12/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet" type="text/css"/>
<script src="/plugin/ztree/3.5.12/js/jquery.ztree.all-3.5.min.js" type="text/javascript"></script>
<style type="text/css">
  .ztree {overflow:auto;margin:0;_margin-top:10px;padding:10px 0 0 10px;}
  .ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
</style>
<div class="table-wrapper products-table section">
  <div id="content" class="row-fluid">
    <div id="left" class="accordion-group" style="width:200px;height:100%;">
      <div class="accordion-heading">
        <a class="accordion-toggle">用户<%if(type=='images'){%>图片<%}else{%>文件夹<%}%><i class="icon-refresh pull-right" onclick="refreshTree();"></i></a>
      </div>
      <div id="ztree" class="ztree"></div>
    </div>
    <div id="openClose" class="close">&nbsp;</div>
    <div id="right" style="overflow-y:auto;">
      <ul class="nav nav-tabs">
        <li class="active"><a href="${ctx}/sys/user/list"><%if(type=='images'){%>图片<%}else{%>文件<%}%>管理</a></li>
      </ul>
      <div class="content-ui">
        <form id="searchForm" modelAttribute="user" action="/manage/file?type=images" method="get" class="breadcrumb form-search">
          <input id="page" name="page" type="hidden"/>
          <input id="isDialog" name="isDialog" type="hidden"/>
          <input id="func" name="func" type="hidden"/>
          <input id="format" name="format" type="hidden"/>

          <input id="currentFolder" name="currentFolder" value="" type="hidden"/>

					<span class="btn btn-success fileinput-button">
				        <i class="glyphicon glyphicon-plus"></i>
				        <span>上传<%if(type=='images'){%>图片<%}else{%>文件<%}%></span>
                      <!-- The file input field used as target for the file upload widget -->

				        <input id="fileupload" type="file" name="file" multiple >
				    </span>

          <li class="clearfix"></li>
        </form>
        <div id="imagesManage">

        </div>
      </div>
      <div class="pagination" style="margin-left:10px;margin-top:10px;"></div>
    </div>
  </div>

  <!-- 创建文件夹菜单 -->
  <div class="modal hide fade" id="createFolder" tabindex="-1" role="dialog">
    <div class="modal-header">
      <button class="close" type="button" data-dismiss="modal">×</button>
      <h5 id="createFolderLabel">请输入新建文件夹名</h5>
    </div>
    <div class="modal-body">
      <div class="breadcrumb form-search">
        <input type="hidden" name="currentFolder" id="currentParentFolder"/>
        <input type="hidden" name="parentIds" id="parentIds"/>
        <ul class="ul-form">
          <li><label>目录名称：</label><input id="NewFolderName" name="NewFolderName" type="text" value=""/></li>
          <li class="clearfix"></li>
        </ul>
      </div>
      <div class="form-actions" style="margin-bottom:0;">
        <input id="btnSubmit" class="btn btn-primary" type="submit" value="确定"/>
        <input id="btnCancel" class="btn" type="button" value="取消"/>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#btnSubmit').click(function(){
    if($('#NewFolderName').val()!=null){
      $.getJSON('/manage/file/mkdir?type=image',{
        parent_id:$('#currentParentFolder').val(),
        name:$('#NewFolderName').val(),
        parent_ids:$('#parentIds').val()
      },function(data){
        if(data.result)
          refreshTree();
      });
    }

    $('#createFolder').modal('hide');
  });
  $('#btnCancel').click(function(){
    $('#createFolder').modal('hide');
  });
</script>
<script type="text/javascript">
  function page(n){
    $.getJSON('/manage/file/getfiles',{
      file_cate_id:$('#currentFolder').val()
      ,page:n
      ,type:'<%=type%>'
    },function(data){
      $('.pagination').html(data.pageHtml);
      imagesManage.load(data.files);
    });
  }

  var setting = {
    view: {
      addHoverDom: addHoverDom,
      removeHoverDom: removeHoverDom,
      selectedMulti: false
    },
    edit: {
      enable: true,
      editNameSelectAll: true,
      showRemoveBtn: showRemoveBtn,
      showRenameBtn: showRenameBtn
    },
    callback: {
      onClick: zTreeOnClick,
      beforeDrag: beforeDrag,
      beforeRemove: beforeRemove,
      beforeRename: beforeRename,
      onRemove: onRemove,
      onRename: onRename
    },
    data:{
      simpleData:{enable:true,idKey:"id",pIdKey:"parent_id",rootPId:'%'}
    }
  };
  var currentFolder = $('#currentFolder').val();
  var className = "dark";
  function beforeDrag(treeId, treeNodes) {
    return false;
  }

  function beforeRemove(treeId, treeNode) {
    className = (className === "dark" ? "":"dark");
    var zTree = $.fn.zTree.getZTreeObj("ztree");
    zTree.selectNode(treeNode);

    $.confirm({
      title: '友情提示!',
      content: '请确认是否真的要删除该文件夹，您删除该文件夹后其子文件夹也会被一起删除，只操作不可逆请谨慎操作!',
      boxWidth: '300px',
      useBootstrap: false,
      buttons: {
        confirm: {
          text: '确认',
          btnClass:'btn-flat default',
          action: function(){
            $.post('/manage/file/delfilecate',{
              id:treeNode.id
            },function(data){
              new jBox('Notice', {
                theme: 'NoticeFancy',
                attributes: {
                  x: 'right',
                  y: 'bottom'
                },
                color:'blue',
                content: '您已经成功删除了该文件夹!',
                audio: '/plugin/jBox-0.4.8/Source/audio/bling2',
                volume: 80,
                animation: {open: 'slide:bottom', close: 'slide:left'}
              });
              refreshTree();
            });
          }
        },
        cancel: {
          text: '取消',
          btnClass:'btn-flat white',
          action: function(){
            return;
          }
        }
      }
    });

    top.$('.jbox-body .jbox-icon').css('top','55px');
    return false;
  }
  function onRemove(e, treeId, treeNode) {

  }
  function beforeRename(treeId, treeNode, newName) {
    className = (className === "dark" ? "":"dark");
    if (newName.length == 0) {
      alert("节点名称不能为空.");
      var zTree = $.fn.zTree.getZTreeObj("ztree");
      setTimeout(function(){zTree.editName(treeNode)}, 10);
      return false;
    }
    return true;
  }
  function onRename(e, treeId, treeNode) {

  }
  function showRemoveBtn(treeId, treeNode) {
    return treeNode.id!=0;
  }
  function showRenameBtn(treeId, treeNode) {
    return false;
  }
  function zTreeOnClick(event, treeId, treeNode) {
    currentFolder = treeNode.id;
    $('#currentFolder').val(treeNode.id);
    $('#parentIds').val(treeNode.parent_ids);

    $.getJSON('/manage/file/getfiles',{
      file_cate_id:treeNode.id
      ,page:1
      ,type:'<%=type%>'
    },function(data){
      $('.pagination').html(data.pageHtml);
      imagesManage.load(data.files);
    });
  }

  var newCount = 1;
  function addHoverDom(treeId, treeNode) {
    var sObj = $("#" + treeNode.tId + "_span");
    if (treeNode.editNameFlag || $("#addBtn_"+treeNode.id).length>0) return;
    var addStr = "<span class='button add' id='addBtn_" + treeNode.id + "' title='add node' onfocus='this.blur();'></span>";
    sObj.after(addStr);
    var btn = $("#addBtn_"+treeNode.id);
    if (btn) btn.bind("click", function(){
      $('#createFolder').modal('show');
      $('#currentParentFolder').val(treeNode.id);
      $('#NewFolderName').val("");
      $('#parentIds').val(treeNode.parent_ids);
    });
  };

  function removeHoverDom(treeId, treeNode) {
    $("#addBtn_"+treeNode.id).unbind().remove();
  };

  function refreshTree(){
    $.getJSON("/manage/file/getfolders",{
              type:'<%=type%>'
            }
            ,function(data){
              var treeObj = $.fn.zTree.init($("#ztree"), setting, data.folders);
              treeObj.expandAll(true);
              var nodes = treeObj.transformToArray(treeObj.getNodes());

              for(var i=0;i<nodes.length;i++){
                if(nodes[i].id==$('#currentFolder').val()){
                  treeObj.selectNode(nodes[i]);
                }
              }
            });
  }
  refreshTree();

  var leftWidth = 180; // 左侧窗口大小
  var htmlObj = $("html"), mainObj = $("#main");
  var frameObj = $("#left, #openClose, #right, #right iframe");
  function wSize(){
    var strs = getWindowSize().toString().split(",");
    htmlObj.css({"overflow-x":"hidden", "overflow-y":"hidden"});
    mainObj.css("width","auto");

    frameObj.height(strs[0] - 5);
    var leftWidth = ($("#left").width() < 0 ? 0 : $("#left").width());
    $("#right").width($("#content").width()- leftWidth - $("#openClose").width() -5);
    $(".ztree").width(leftWidth - 10).height(frameObj.height() - 46);
  }

  $('#fileupload').fileupload({
            url: '/manage/file/upload?type=<%=type%>' ,
            dataType: 'json',
            autoUpload: true,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            disableImageMetaDataLoad: true,
            done: function (e, data) {
              //if(!data.status)top.$.jBox.tip(data.result.Connector.FileUpload.failReason, 'error');

              $.getJSON('/manage/file/getfiles',{
                file_cate_id:$('#currentFolder').val()
                ,page:1
                ,type:'<%=type%>'
              },function(data){
                $('.pagination').html(data.pageHtml);
                imagesManage.load(data.files);
              });
            },
            progressall: function (e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);
              $('#progress .progress-bar').css(
                      'width',
                      progress + '%'
              );
            }
          })
          .bind('fileuploadsubmit', function (e, data) {
            data.formData = {
              file_cate_id: $('#currentFolder').val()
              //format:'[{"width":240,"height":240},{"width":500,"height":500}]'
            };
            //loading('正在上传文件中，请稍等...');
          }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');


  var imagesManage = $('#imagesManage').fileManage({
    //imagePrefix : ctxImg,
    callback : {
      onclickMenu : function(key, selectData, selectElement) {
        switch(key){
          case 'download':
            var url = ctxStatic+'/ckfinder/core/connector/java/connector.java?command=DownloadFile&type=${type}&langCode=zh-cn&newFileName='+selectData[0].title+"."+selectData[0].suffix+'&FileName='+selectData[0].path+"."+selectData[0].suffix;
            window.open(url);
            break;
          case 'delete':
            var fileIds = "";
            for(var i=0;i<selectData.length;i++){
              if(i<selectData.length-1){
                fileIds+=selectData[i].id+'|';
              }else{
                fileIds+=selectData[i].id;
              }
            }

            loading('正在删除文件中，请稍等...');
            $.getJSON('${ctxStatic}/ckfinder/core/connector/java/connector.java?command=DeleteFiles&type=${type}&langCode=zh-cn&startupPath=',{
              fileIds:fileIds
            },function(data){
              top.$.jBox.closeTip();
              if(data.Connector.DeleteFiles.result){
                window.location.reload();
              }else{
                top.$.jBox.tip(data.result.Connector.DeleteFiles.failReason, 'error');
              }
            });
            break;
          case 'move':
            top.$.jBox('get:${ctx}/sys/user/fileCateSelect;JSESSIONID=<shiro:principal property="sessionid"/>?type=${type}',
                    {title:'选择移动到的文件夹', buttons:{'确定':1,'关闭':0}, width:300, height: 350, top:30,
                      submit: function (v, h, f) {
                        if (v == 1) {
                          var fileIds = "";
                          for(var i=0;i<selectData.length;i++){
                            if(i<selectData.length-1){
                              fileIds+=selectData[i].id+'|';
                            }else{
                              fileIds+=selectData[i].id;
                            }
                          }

                          loading('正在删除文件中，请稍等...');
                          $.getJSON('${ctxStatic}/ckfinder/core/connector/java/connector.java?command=MoveFiles&type=${type}&langCode=zh-cn&startupPath=',{
                            fileIds:fileIds,
                            fileCateId:top.currentFolder
                          },function(data){
                            top.$.jBox.closeTip();
                            if(data.Connector.MoveFiles.result){
                              window.location.reload();
                            }else{
                              top.$.jBox.tip(data.result.Connector.MoveFiles.failReason, 'error');
                            }
                          });
                          return true; // close the window
                        }
                        return true;
                      }
                    });

            break;
        }
      },
      dblclick : function(e,selectData, selectElement) {
      }
    }
  });
  $.getJSON('/manage/file/getfiles',{
    file_cate_id:$('#currentFolder').val()
    ,page:1
    ,type:'<%=type%>'
  },function(data){
    $('.pagination').html(data.pageHtml);
    imagesManage.load(data.files);
  });

  <%if(typeof(isDialog)!='undefined'){%>
    //按回车键开启选择相片操作
    $(window).keyup(function(e){
      if(e.which==13){
        goThumbnail();
        return false;
      }
    });

    //如果是弹出框要加入选取后调用父级函数赋值
    $('#btnDialogSubmit').click(function(){
      goThumbnail();
      return false;
    });

    $('#btnDialogCancel').click(function(){
      window.close();
    });

    function goThumbnail(){
      if(imagesManage.getSelectedData().length<=0){
        new jBox('Notice', {
          theme: 'NoticeFancy',
          attributes: {
            x: 'right',
            y: 'bottom'
          },
          color:'red',
          content: '请选择一个后再确定!',
          audio: '/plugin/jBox-0.4.8/Source/audio/bling2',
          volume: 80,
          animation: {open: 'slide:bottom', close: 'slide:left'}
        });
        return false;
      }

      <% if(typeof(format)!='undefined'){%>
        var files = imagesManage.getSelectedData();
        var ids = "";
        for(var i=0; i<files.length; i++){
          ids += files[i].id;
          if (i<files.length-1){
            ids+="|";
          }
        }

        $.post('/manage/file/thumbfile',
        {
          ids:ids,
          format:'<%-format%>'
        },function(data){
          if(data.result){
            opener.<%=func%>(imagesManage.getSelectedData());
            window.close();
          }
        });
      <%}else{%>
        opener.<%=func%>(imagesManage.getSelectedData());
        window.close();
      <%}%>
    }
  <%}%>

  function wSize(){
    var strs=getWindowSize().toString().split(",");
    $("#left, #openClose").height(strs[0]-46);
  }
</script>
<script src="/js/common/wsize.min.js" type="text/javascript"></script>
<% include  ../include/manage_footer_res.ejs %>