<!DOCTYPE html>
<html>
<head>
  <title>菜单管理 - 首页</title>
  <% include  ../include/head_res.ejs %>
  <% include  ../include/manage_com_res.ejs %>
<body>

<% include  ../include/header.ejs %>

<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
  </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div class="content">

  <div class="container-fluid">
    <div class="table-wrapper table-products products-table section">
      <div class="row-fluid head">
        <div class="span12">
          <h4 style="float:left;display: inline-block">菜单管理</h4>
        </div>
      </div>

      <div class="row-fluid filter-block">
        <div class="pull-right">
          <a href="/manage/menu/create" ><div class="btn-glow"><i class="icon-plus"></i> 增加新主菜单</div>
          </a>
        </div>
      </div>

      <div class="row-fluid">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="span2">
              名称
            </th>
            <th class="span2">
              <span class="line"></span>url
            </th>
            <th class="span1">
              <span class="line"></span>排序
            </th>
            <th class="span2">
              <span class="line"></span>权限
            </th>
            <th class="span2">
              <span class="line"></span>操作
            </th>
          </tr>
          </thead>
          <tbody>
          <%menus.forEach(function(menu){%>
            <tr class="treeNode" treeId="<%=menu.id%>"  parentIds="<%=menu.parent_ids%>">
              <td>
                <span arrow="true" class="default_active_node default_open"></span>
                <a href="#" class="name"><%=menu.name%></a>
              </td>
              <td class="description">
                <%=menu.href%>
              </td>
              <td>
                <%=menu.sort%>
              </td>
              <td>
                <%=menu.permission%>
              </td>
              <td>
                <span class="label label-success">有效</span>
                <ul class="actions">
                  <li><a href="/manage/menu/create?parent_id=<%=menu.id%>">添加下级菜单</a></li>
                  <li><a href="/manage/menu/edit?id=<%=menu.id%>">编辑</a></li>
                  <li class="last"><a href="javascript:void(0)" onclick="javascript:delMenu('<%=menu.id%>')">删除</a></li>
                </ul>
              </td>
            </tr>
            <% if(typeof(menu.children) != 'undefined'){%>
              <%menu.children.forEach(function(sub_menu){%>
                <tr class="treeNode" treeId="<%=sub_menu.id%>" parentIds="<%=sub_menu.parent_ids%>">
                  <td style="padding-left:30px;">
                    <span arrow="true" class="default_active_node default_open"></span>
                    <a href="#" class="name"><%=sub_menu.name%></a>
                  </td>
                  <td class="description">
                    <%=sub_menu.href%>
                  </td>
                  <td>
                    <%=sub_menu.sort%>
                  </td>
                  <td>
                    <%=sub_menu.permission%>
                  </td>
                  <td>
                    <span class="label label-success">有效</span>
                    <ul class="actions">
                      <li><a href="/manage/menu/create?parent_id=<%=sub_menu.id%>">添加下级菜单</a></li>
                      <li><a href="/manage/menu/edit?id=<%=sub_menu.id%>">编辑</a></li>
                      <li class="last"><a href="javascript:void(0)" onclick="javascript:delMenu('<%=sub_menu.id%>')">删除</a></li>
                    </ul>
                  </td>
                </tr>
                <% if(typeof(sub_menu.children) != 'undefined'){%>
                  <%sub_menu.children.forEach(function(sub_sub_menu){%>
                    <tr class="treeNode" treeId="<%=sub_sub_menu.id%>" parentIds="<%=sub_sub_menu.parent_ids%>">
                      <td style="padding-left:60px;">
                        <span arrow="true" class="default_active_node default_open"></span>
                        <a href="#" class="name"><%=sub_sub_menu.name%></a>
                      </td>
                      <td class="description">
                        <%=sub_sub_menu.href%>
                      </td>
                      <td>
                        <%=sub_sub_menu.sort%>
                      </td>
                      <td>
                        <%=sub_sub_menu.permission%>
                      </td>
                      <td>
                        <span class="label label-success">有效</span>
                        <ul class="actions">
                          <li><a href="/manage/menu/create?parent_id=<%=sub_sub_menu.id%>">添加下级菜单</a></li>
                          <li><a href="/manage/menu/edit?id=<%=sub_sub_menu.id%>">编辑</a></li>
                          <li class="last"><a href="javascript:void(0)" onclick="javascript:delMenu('<%=sub_sub_menu.id%>')">删除</a></li>
                        </ul>
                      </td>
                    </tr>
                    <%if(typeof(sub_sub_menu.children)!='undefined' ){%>
                      <%sub_sub_menu.children.forEach(function(sub_sub_sub_menu){%>
                        <tr class="treeNode" treeId="<%=sub_sub_sub_menu.id%>" parentIds="<%=sub_sub_sub_menu.parent_ids%>">
                          <td style="padding-left:80px;">
                            <a href="#" class="name"><%=sub_sub_sub_menu.name%></a>
                          </td>
                          <td class="description">
                            <%=sub_sub_sub_menu.href%>
                          </td>
                          <td>
                            <%=sub_sub_sub_menu.sort%>
                          </td>
                          <td>
                            <%=sub_sub_sub_menu.permission%>
                          </td>
                          <td>
                            <span class="label label-success">有效</span>
                            <ul class="actions">
                              <li><a href="/manage/menu/edit?id=<%=sub_sub_sub_menu.id%>">编辑</a></li>
                              <li class="last"><a href="javascript:void(0)" onclick="javascript:delMenu('<%=sub_sub_sub_menu.id%>')">删除</a></li>
                            </ul>
                          </td>
                        </tr>
                      <%})%>
                    <%}%>
                  <%})%>
                <%}%>
              <%})%>
            <%}%>
          <%})%>
          </tbody>
          <script type="application/javascript">
            $('table .default_active_node').click(function(){
              var _parent = $(this).parent().parent();
              var parentIds = _parent.attr('parentIds');
              var id = _parent.attr('treeId');
              var indexOfStr = (parentIds+id+',');

              if($(this).hasClass('default_open')){
                $(this).removeClass('default_open').addClass('default_shut');
                $('.treeNode').each(function(){
                  if($(this).attr('parentIds').indexOf(indexOfStr)!=-1){
                    $(this).hide();
                  }
                });
              }else{
                $(this).removeClass('default_shut').addClass('default_open');
                $('.treeNode').each(function(){
                  if($(this).attr('parentIds').indexOf(indexOfStr)!=-1){
                    $(this).show();
                  }
                });
              }
            });
          </script>
        </table>
      </div>
    </div>
  </div>
</div>

<% include  ../include/manage_footer_res.ejs %>

<script type="text/javascript">
  function delMenu(id) {
    $.confirm({
      title: '友情提示!',
      content: '请确认是否真的要删除该菜单，此操作不可逆请谨慎操作!',
      boxWidth: '300px',
      useBootstrap: false,
      buttons: {
        confirm: {
          text: '确认',
          btnClass:'btn-flat default',
          action: function(){
            $.post('/manage/menu/delete',{
              _csrf:'<%= csrf_token %>',
              id:id
            },function(data){
              if(data.result){
                noticeInfo('success','感谢您的使用，删除成功',function(){
                  window.location.reload();
                });
              }else{
                noticeInfo('fail','非常抱歉，系统或网络发生异常，请重试!')
              }
            });
          }
        },
        cancel: {
          text: '取消',
          btnClass:'btn-flat white',
          action: function(){
            return;
          }
        }
      }
    });
  }

  $('input[name="mainCheckbox"]').click(function(){
    $('input[name="subCheckbox"]').each(function(){
      if($('input[name="mainCheckbox"]').is(':checked')){
        $(this).prop('checked',true);
        $(this).parent().addClass('checked');
      }else{
        $(this).prop('checked',false);
        $(this).parent().removeClass('checked');
      }
    });
  });

  $('input[name="subCheckbox"]').click(function(){
    //有一个为假总的就为假
    var checkbox = true;
    $('input[name="subCheckbox"]').each(function(){
      if(!$(this).prop('checked')){
        checkbox = false;
      }
    });
    $('input[name="mainCheckbox"]').prop('checked',checkbox);
    if(checkbox){
      $('input[name="mainCheckbox"]').parent().addClass('checked');
    }else{
      $('input[name="mainCheckbox"]').parent().removeClass('checked');
    }
  });

  $(window).load(function(){
    $('.table .sort').click(function(){
      var name = $(this).attr('sort');
      var order = '';
      if($(this).hasClass('datagrid-sort-asc')){
        $('.table .sort').removeClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        $(this).addClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        order = 'desc';
      }else if($(this).hasClass('datagrid-sort-desc')){
        $('.table .sort').removeClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        $(this).addClass('datagrid-sort-asc').removeClass('datagrid-sort-desc');
        order = 'asc';
      }else{
        $('.table .sort').removeClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        $(this).addClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        order = 'desc';
      }

      window.location.href = '?sortName='+name+'&sortOrder='+order;
    });
  });
</script>
</body>
</html>