<!DOCTYPE html>
<html>
<head>
  <title>角色管理 - 创建角色</title>
  <% include  ../include/head_res.ejs %>
  <% include  ../include/manage_com_res.ejs %>
  <!-- jstree -->
  <link href="/plugin/ztree/3.5.12/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet" type="text/css"/>
  <script src="/plugin/ztree/3.5.12/js/jquery.ztree.all-3.5.min.js" type="text/javascript"></script>

  <script src="/js/common/jquery.validate.js" type="text/javascript"></script>
<body>

<% include  ../include/header.ejs %>

<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
  </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div class="content">

  <div class="container-fluid">
    <div class="table-wrapper products-table section">
      <div class="row-fluid head">
        <div class="span12">
          <h4 style="float:left;display: inline-block">新增角色</h4>
        </div>
      </div>
      <div class="row-fluid">
        <form name="create" id="form" action="/manage/user/store"  method="post">
          <input type="hidden" name="_csrf" value="<%= csrf_token %>">
          <% if(typeof(role)!='undefined'){%>
            <input type="hidden" name="id" value="<%=role.id%>"/>
          <%}%>
          <div class="row-fluid form-wrapper">
            <!-- left column -->
            <div class="span11 column">
              <div class="field-box">
                <label>归属机构:</label>
                <%if(typeof(role)!='undefined'){%>
                  <%-include("../include/synch_tree",{width:'400',name:'office_id',treejson:offices,treeWidth:400,treeHeight:600,treeTitle:'请选择一个机构',default_id:role.office_id})%>
                <%}else{%>
                  <%-include("../include/synch_tree",{width:'400',name:'office_id',treejson:offices,treeWidth:400,treeHeight:600,treeTitle:'请选择一个机构'})%>
                <%}%>
              </div>
              <div class="field-box">
                <label>角色名:</label>
                <input style="width:400px" type="text" name="name" <%if(typeof(role)!='undefined'){%> value="<%=role.name%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>角色英文名:</label>
                <input style="width:400px" type="text" name="enname" <%if(typeof(role)!='undefined'){%> value="<%=role.enname%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>角色权限范围:</label>
                <% if(typeof(role)!='undefined'){ %>
                  <%-include("../include/select",{options:dataScope,name:'data_scope',width:400,defaultValue:role.data_scope})%>
                <%}else{%>
                  <%-include("../include/select",{options:dataScope,name:'data_scope',width:400})%>
                <%}%>
              </div>
              <div class="field-box">
                  <label>角色菜单:</label>
                  <div class="span8">
                      <div id="menuTree" class="ztree" style="margin-top:3px;float:left;"></div>
                      <script type="application/javascript">
                          var setting = {check:{enable:true,nocheckInherit:true},view:{selectedMulti:false},
                              data:{simpleData:{enable:true}},callback:{beforeClick:function(id, node){
                                  tree.checkNode(node, !node.checked, true, true);
                                  return false;
                              }}};

                          // 用户-菜单
                          var zNodes=[
                              <% menus.forEach(function (menu){ %>
                                  {
                                      id:"<%=menu.id%>",
                                      <%if(typeof(menu.parent_id)=='undefined'){%> pId:"0"
                                      <%}else{%> pId:"<%=menu.parent_id%>"
                                      <%}%>,
                                      name:"<%if(!menu.parent_id){%>权限列表<%}else{%><%=menu.name%><%}%>"
                                      <%if(menu.checked){%>
                                          ,checked:<%=menu.checked%>
                                      <%}%>
                                  },
                              <% });%>
                          ];
                          // 初始化树结构
                          var tree = $.fn.zTree.init($("#menuTree"), setting, zNodes);
                          // 不选择父节点
                          tree.setting.check.chkboxType = { "Y" : "ps", "N" : "s" };
                          <% if(typeof(roleMenus) != 'undefined'){ %>
                            // 默认选择节点
                            var ids = "<%=roleMenus%>".split(",");
                            for(var i=0; i<ids.length; i++) {
                                var node = tree.getNodeByParam("id", ids[i]);
                                try{tree.checkNode(node, true, false);}catch(e){}
                            }
                          <% } %>
                          // 默认展开全部节点
                          tree.expandAll(true);
                      </script>
                  </div>
                  <div class="auto-height"></div>
              </div>
              <div class="field-box">
                <label>是否为系统角色:</label>
                <div>
                  <fieldset>
                    <label class="radio">
                      <input type="radio" name="is_sys" value="1" <% if(typeof(role)=='undefined'){ %> checked="checked" <%}%> <% if(typeof(role)!='undefined' && role.is_sys==1){ %> checked="checked" <%}%>  />是
                    </label>
                    <label class="radio">
                      <input type="radio" name="is_sys" value="0" <% if(typeof(role)!='undefined' && role.is_sys==0){ %> checked="checked" <%}%>/>否
                    </label>
                  </fieldset>
                </div>
                <div class="auto-height"></div>
              </div>
              <div class="field-box">
                <label>是否可用:</label>
                <div>
                  <fieldset>
                    <label class="radio">
                      <input type="radio" name="useable" value="1" <% if(typeof(role)=='undefined'){ %> checked="checked" <%}%> <% if(typeof(role)!='undefined' && role.useable==1){ %> checked="checked" <%}%>  />是
                    </label>
                    <label class="radio">
                      <input type="radio" name="useable" value="0" <% if(typeof(role)!='undefined' && role.useable==0){ %> checked="checked" <%}%>/>否
                    </label>
                  </fieldset>
                </div>
                <div class="auto-height"></div>
              </div>
              <div class="field-box">
                <label>备注:</label>
                <textarea style="width:400px" name="remarks" rows="4"><% if(typeof(role)!='undefined'){ %><%=role.remarks%><%}%></textarea>
              </div>
            </div>
          </div>
          <% if(typeof(role)!='undefined'){%>
            <button type="submit" class="btn-glow inverse" id="editUserBtn">确定修改</button>
          <%}else{%>
            <button type="submit" class="btn-glow inverse" id="addUserBtn">确定添加</button>
          <%}%>
          <a class="btn-glow" href="javascript:window.location.href = '/manage/role';">返回</a>
        </form>
      </div>
    </div>
    <script type="application/javascript">
      $(window).ready(function(){
        <% if(typeof(role)!='undefined'){ %>
          $("#form").validate({
          rules: {
            name: {
              required: true,
              minlength:2,
              maxlength:14
            },
            enname: {
              required: true,
              minlength:5,
              maxlength:20
            }
          },
          messages: {
            name: {
              required: "你必须填写一个角色名称",
              minlength: "角色至少需要填写2位字符",
              maxlength: "角色名称最多12位字符"
            },
            enname: {
              required: "角色英文名必须填写",
              minlength: "角色英文名至少5位字符",
              maxlength: "角色英文名最多20位字符"
            }
          },
          submitHandler:function(form){
            var nodes = tree.getCheckedNodes(true);
            var menuIds = '';
            for(var i=0;i<nodes.length;i++){
                if(i==nodes.length-1)
                    menuIds+= nodes[i].id;
                else
                    menuIds+= nodes[i].id+',';
            }
            

            $.post('/manage/role/store?menuIds='+menuIds,$('form[name="create"]').serialize(),function(data){
              if(data.result){
                window.location.href = '/manage/role';
              }else{
                noticeInfo('fail',data.error);
              }
            }).error(function(data) {
              noticeInfo('fail','网络错误创建失败!请重试.');
            });
          }
        });
        <%}else{%>
          $("#form").validate({
          rules: {
            name: {
              required: true,
              minlength:2,
              maxlength:14
            },
            enname: {
              required: true,
              minlength:5,
              maxlength:20
            }
          },
          messages: {
            name: {
              required: "你必须填写一个角色名称",
              minlength: "角色至少需要填写2位字符",
              maxlength: "角色名称最多12位字符"
            },
            enname: {
              required: "角色英文名必须填写",
              minlength: "角色英文名至少5位字符",
              maxlength: "角色英文名最多20位字符"
            }
          },
          submitHandler:function(form){
            var nodes = tree.getCheckedNodes(true);
            var menuIds = '';
            for(var i=0;i<nodes.length;i++){
                if(i==nodes.length-1)
                    menuIds+= nodes[i].id;
                else
                    menuIds+= nodes[i].id+',';
            }

            $.post('/manage/role/store?menuIds='+menuIds,$('form[name="create"]').serialize(),function(data){
              if(data.result){
                window.location.href = '/manage/role';
              }else{
                noticeInfo('fail',data.error);
              }
            }).error(function(data) {
              noticeInfo('fail','网络错误创建失败!请重试.');
            });
          }
        });
        <%}%>
      });

    </script>
  </div>
</div>

<% include  ../include/manage_footer_res.ejs %>
</body>
</html>