<!DOCTYPE html>
<html>
<head>
  <title>字典管理 - 首页</title>
  <% include  ../include/head_res.ejs %>
  <% include  ../include/manage_com_res.ejs %>
  <!-- jstree -->
  <link href="/plugin/ztree/3.5.12/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet" type="text/css"/>
  <script src="/plugin/ztree/3.5.12/js/jquery.ztree.all-3.5.min.js" type="text/javascript"></script>

  <script src="/js/common/jquery.validate.js" type="text/javascript"></script>
<body>

<% include  ../include/header.ejs %>

<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
  </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div class="content">

  <div class="container-fluid">
    <div class="table-wrapper products-table section">
      <div class="row-fluid head">
        <div class="span12">
          <h4 style="float:left;display: inline-block">新增字典</h4>
        </div>
      </div>
      <div class="row-fluid">
        <form name="create" id="form" action="/manage/rea/store"  method="post">
          <input type="hidden" name="_csrf" value="<%= csrf_token %>">
          <% if(typeof(area)!='undefined'){%>
            <input type="hidden" name="id" value="<%=area.id%>"/>
          <%}%>
          <div class="row-fluid form-wrapper">
            <!-- left column -->
            <div class="span11 column">
              <div class="field-box">
                <label>value:</label>
                <input style="width:400px" type="text" name="value" <%if(typeof(dict)!='undefined'){%> value="<%=dict.value%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>label:</label>
                <input style="width:400px" type="text" name="label" <%if(typeof(dict)!='undefined'){%> value="<%=dict.label%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>type:</label>
                <input style="width:400px" type="text" name="type"<%if(typeof(type)!='undefined'){%> value="<%=type%>" <%}%> <%if(typeof(dict)!='undefined'){%> value="<%=dict.type%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>排序号:</label>
                <input style="width:400px" type="text" name="sort" <%if(typeof(maxSort)!='undefined'){%> value="<%=maxSort%>" <%}%> <%if(typeof(dict)!='undefined'){%> value="<%=dict.sort%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>描述:</label>
                <input style="width:400px" type="text" name="description" <%if(typeof(dict)!='undefined'){%> value="<%=dict.description%>" <%}%>/>
              </div>
              <div class="field-box">
                <label>备注:</label>
                <textarea style="width:400px" name="remarks" rows="4"><% if(typeof(dict)!='undefined'){ %><%=dict.remarks%><%}%></textarea>
              </div>
            </div>
          </div>
          <% if(typeof(dict)!='undefined'){%>
            <button type="submit" class="btn-glow inverse">确定修改</button>
          <%}else{%>
            <button type="submit" class="btn-glow inverse">确定添加</button>
          <%}%>
          <a class="btn-glow" href="javascript:window.history.back();">返回</a>
        </form>
      </div>
    </div>
    <script type="application/javascript">
      $(window).ready(function(){
        <% if(typeof(dict)!='undefined'){%>
          $("#form").validate({
          rules: {
            value: "required",
            label: "required",
            type:"required",
            sort:"required"
          },
          messages: {
            value: "字典值必须填写",
            label: "字典名称必须填写",
            type: "字典类型必须填写",
            sort:"排序号必须填写"
          },
          submitHandler:function(form){
            $.post('/manage/dict/store',$('form[name="create"]').serialize(),function(data){
              if(data.result){
                noticeInfo('success','感谢您的使用，修改成功',function(){
                  window.history.back();
                });
              }else{
                noticeInfo('fail',data.error);
              }
            }).error(function(data) {
              $.jBox.messager(props, '创建失败！');
            });
          }
        });
        <%}else{%>
          $("#form").validate({
            rules: {
            value: "required",
            label: "required",
            type:"required",
            sort:"required"
          },
          messages: {
            value: "字典值必须填写",
            label: "字典名称必须填写",
            type: "字典类型必须填写",
            sort:"排序号必须填写"
          },
          submitHandler:function(form){
            $.post('/manage/dict/store',$('form[name="create"]').serialize(),function(data){
              if(data.result){
                noticeInfo('success','感谢您的使用，创建成功',function(){
                  window.location.href='/manage/dict';
                });
              }else{
                noticeInfo('fail',data.error);
              }
            }).error(function(data) {
              noticeInfo('fail','网络错误创建失败!请重试.');
            });
          }
        });
        <%}%>
      });
    </script>
  </div>
</div>

<% include  ../include/manage_footer_res.ejs %>
</body>
</html>