<!DOCTYPE html>
<html>
<head>
	<title>关于我们——懂你半永妆工作室——让您更懂你</title>
	<% include  ./include/resou.ejs %>
</head>
<body>
	<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
        <!---->
        <!---start-color-changer----->
			 <div id="colorchanger">
                    <a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
                    <a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
             </div>
	      <!---//End-color-changer----->
			<div class="content">
				<div class="about">
					<div class="container">
						<h2>关于我们</h2>
						<div class="in-about">
							<div class="our-grid">
								<!--<div class=" our-para">
								<a href="#">
								<script>
									var imgStr = '<%-abouts[0].image%>';
									var obj = jsonImgPrint(imgStr,'_400x250','img-responsive');
								</script>
								</a>						
							</div>-->
							<div class="our-head">
								<%-abouts[0].phone_content%></a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
			
		</div>
	</div>
		<div class="container">
		<!---->
		<div class="bottom-content-in">
			<div class="col-md-4 in-profile">
					<h4>新闻</h4>
					<%xinwen.forEach(function(news){%>
						<div class="col-in-about">
							<div class="in-sed">
								<b>2017</b>
								<span>6月6日</span>
							</div>
							<div class="left-sit">
								<p><%=news.title%></p>
								<a href="#" class="more"><b>+</b> 更多</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					<%})%>
				</div>
				
				<div class="col-md-4 in-profile">
					<h4>常见问题及回答</h4>
					<%qaf.forEach(function(qaf,index){%>
						<%if(index<2){%>
							<div class="from">
								<p><%=qaf.title%></p>
								<ul class="date">
									<li><span><%=qaf.remarks%></span></li>
								</ul>
							</div>
						<%}%>
					<%})%>
				</div>
				<div class="col-md-4 in-profile">
					<%qaf.forEach(function(qaf,index){%>
						<%if(index>=2){%>
							<div class="from">
								<p><%=qaf.title%></p>
								<ul class="date">
									<li><span><%=qaf.remarks%></span></li>
								</ul>
							</div>
						<%}%>
					<%})%>
				</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!---->

<% include  ./include/footer.ejs %>
</body>
</html>