<!DOCTYPE html>
<html>

<head>
	<title>联系我们——懂你半永妆工作室——让您更懂你</title>
	<% include  ./include/resou.ejs %>
  	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=bfbe0451f502b76d75ce5e5ef0c2928f"></script>
</head>

<body>
	<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
	</div>
	<!---->
	<!---start-color-changer----->
	<div id="colorchanger">
		<a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
		<a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
	</div>
	<!---//End-color-changer----->
	<!---->
	<div class="container">
		<div class="contact">
			<h2>联系方式</h2>
			<div class="col-md-5 contact-map">
				<h5>我的地址地图</h5>
				<div class="map" id="map" style="height:550px;">
				</div>
			</div>
			<div class="col-md-7 contact-para">
				<%-contacts[0].content%>
				<h5>您也可以留下您的联系方式</h5>
				<form>
					<div class="grid-contact">
						<div class="col-md-6 contact-grid">
							<p>姓名</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						</div>
						<div class="col-md-6 contact-grid">
							<p>电话</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="grid-contact">
						<div class="col-md-6 contact-grid">
							<p>E-MAIL</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						</div>
						<div class="clearfix"> </div>
					</div>
					<p class="your-para">留言</p>
					<textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
					<div class="send">
						<input type="submit" value="发送信息">
					</div>
				</form>
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>

	<!---->
	<% include  ./include/footer.ejs %>
	<script type="text/javascript">
			//初始化地图对象，加载地图
			var toolBar = null;
			var map = new AMap.Map('map', {
				//resizeEnable: true,
				//rotateEnable: true,
				//dragEnable: true,
				//zoomEnable: true,
				//设置可缩放的级别
				//zooms: [3,18],
				//传入2D视图，设置中心点和缩放级别
				view: new AMap.View2D({
					center : new AMap.LngLat(<%if(maps){%><%=maps[0].longitude%><%}else{%>106.478462<%}%>, <%if(maps){%><%=maps[0].latitude%><%}else{%>29.556577<%}%>),
					zoom: 14
				})
			});
		
			AMap.plugin(['AMap.Autocomplete'], function () {
				var autoOptions = {
					city: "", //城市，默认全国
				};
		
				autocomplete = new AMap.Autocomplete(autoOptions);
		
				var new_point = new AMap.LngLat(<%if(maps){%><%=maps[0].longitude%><%}else{%>106.478462<%}%>, <%if(maps){%><%=maps[0].latitude%><%}else{%>29.556577<%}%>);

				var marker = new AMap.Marker(
						{
							icon : "images/map_sign.png",
							position : new_point
						});
				map.clearMap();
				marker.setMap(map); //在地图上添加点           // 将标注添加到地图中
				
			});
		
			//在地图中添加ToolBar插件
			map.plugin(["AMap.ToolBar"], function () {
				toolBar = new AMap.ToolBar();
				map.addControl(toolBar);
			});
		</script>
</body>

</html>