<!DOCTYPE html>
<html>
<head>
	<title>懂你半永妆工作室——让您更懂你</title>
	<% include  ./include/resou.ejs %>
</head>
<body>
<!--header-->
	<div class="header">
		<% include  ./include/head.ejs %>
	</div>
<!---->
		<!---start-color-changer----->
			 <div id="colorchanger">
                    <a class="colorbox colorred" href="?theme=red" title="Red Theme"> </a>
                    <a class="colorbox colorblack" href="?theme=black" title="Black Theme"> </a>
             </div>
	      <!---//End-color-changer----->

<div class="banner">
	<div class="col-md-3 banner-mat">
		<img class="img-responsive"	src="/dnbyz/images/ba1.jpg" alt="">
	</div>
	<div class="col-md-6 matter-banner">
	 <div class="slider">
	    <div class="callbacks_container">
	      <ul class="rslides" id="slider">
			 <%dundongguanggao.forEach(function(adv){%>
			 	<li>
					<%-adv.remarks%>
				</li>
			 <%})%>
	      </ul>
	  </div>
	</div>
	</div>
	<div class="col-md-3 banner-mat">
	<img class="img-responsive" src="/dnbyz/images/ba.jpg" alt="">
	</div>
	<div class="clearfix"> </div>
</div>
<!---->
<div class="content">
		<div class="content-top">
		<div class="container">
			<ul class="col-md-4 social-in">
				<li><i> </i></li>						
				<li><i class="pencil"> </i></li>
				<li><i class="drop"> </i></li>
			</ul>
			<div class="col-md-8 content-top-in">
				<%shuoming.forEach(function(sm){%>
					<h3><%=sm.title%></h3>
					<p><%=sm.description%></p>
				<%})%>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
		
		<!---->
		<div class="content-bottom">
		<div class="container">
			<div class="col-md-9 bottom-content">
				<%anli.forEach(function(al){%>
					<div class="grid-top">
						<div class="col-md-4 grid" style="overflow:hidden;">
							<div id="nivo-lightbox-demo"> <p> <a data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </p></div>     
							<script>
								var imgStr = '<%-al.image%>';
								jsonImgPrint(imgStr,'_295x262','img-responsive');
							</script>
						</div>
						<div class="col-md-8 grid-bottom">
							<h4><%=al.title%></h4>
							<h6><%=al.description%></h6>
							<p><%=al.remarks%></p>
							<a href="/dnbyz/share" class="in-more ">查看详情 <i> </i></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				<%})%>
			</div>
			<div class="col-md-3 quick">
				<h4>立即给我们留言</h4>
				<div class="grid-enter">
					<input type="text" value="输入您的姓名 ..." onFocus="this.value='';" onBlur="if (this.value == '') {this.value = '输入您的姓名 ...';}">
					<i> </i>
				</div>
				<div class="grid-enter">
					<input type="text" value="输入您的邮箱..." onFocus="this.value='';" onBlur="if (this.value == '') {this.value = '输入您的邮箱 ...';}">
					<i class="mail"> </i>
				</div>
				<div class="grid-enter">
					<textarea value="John simth" onFocus="this.value='';" onBlur="if (this.value == '') {this.value = '输入您的留言';}">输入您的留言</textarea>
					<i class="message"> </i>
				</div>
				<input type="submit" value="提交">
				<label> </label>
			</div>
			<div class="clearfix"> </div>
		</div>
		</div>
		<!---->
		<link rel="stylesheet" type="text/css" href="/dnbyz/css/magnific-popup.css">
			<script type="text/javascript" src="/dnbyz/js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>

		<div class="container">
		<!---->
		<div class="bottom-content-in">
			<div class="col-md-4 in-profile">
					<h4>新闻</h4>
					<%xinwen.forEach(function(news){%>
						<div class="col-in-about">
							<div class="in-sed">
								<b>2017</b>
								<span>6月6日</span>
							</div>
							<div class="left-sit">
								<p><%=news.title%></p>
								<!--<a href="/dnbyz/list" class="more"><b>+</b> 更多</a>-->
							</div>
							<div class="clearfix"> </div>
						</div>
					<%})%>
				</div>
				
				<div class="col-md-4 in-profile">
					<h4>常见问题及回答</h4>
					<%qaf.forEach(function(qaf,index){%>
						<%if(index<2){%>
							<div class="from">
								<p><%=qaf.title%></p>
								<ul class="date">
									<li><span><%=qaf.remarks%></span></li>
								</ul>
							</div>
						<%}%>
					<%})%>
				</div>
				<div class="col-md-4 in-profile">
					<%qaf.forEach(function(qaf,index){%>
						<%if(index>=2){%>
							<div class="from">
								<p><%=qaf.title%></p>
								<ul class="date">
									<li><span><%=qaf.remarks%></span></li>
								</ul>
							</div>
						<%}%>
					<%})%>
				</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!---->
<% include  ./include/footer.ejs %>
</body>
</html>