<!DOCTYPE html>
<html>
<head>
  <title>用户管理 - 首页</title>
  <% include  ../include/head_res.ejs %>
  <% include  ../include/manage_com_res.ejs %>
<body>

<% include  ../include/header.ejs %>

<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
  </ul>
</div>
<!-- end sidebar -->


<!-- main container -->
<div class="content">

  <div class="container-fluid">
    <div class="table-wrapper table-products products-table section">
      <div class="row-fluid head">
        <div class="span12">
          <h4 style="float:left;display: inline-block">用户管理</h4>
        </div>
      </div>

      <div class="row-fluid filter-block">
        <form name="create" action="/manage/user" method="get">
          <div class="pull-right">
            姓名：<input type="text" class="input-mini" name="name"/>
            登录名：<input type="text" class="input-small" name="login_name"/>
            注册日期：<input type="text" value="" class="input-medium datepicker" name="create_date_start"/>-&nbsp;<input type="text" value="" class="input-medium datepicker" name="create_date_end"/>
            <button type="submit" class="btn-glow"><i class="icon-search"></i> 搜索</button>
            <a href="/manage/user/create" ><div class="btn-glow"><i class="icon-plus"></i> 增加新用户</div></a>
            <a href="javascript:void(0)" id="dels"><div class="btn-glow"><i class="icon-minus"></i> 删除所选</div></a>
          </div>
        </form>
      </div>

      <div class="row-fluid">
        <table class="table table-hover" >
          <thead>
          <tr>
            <th class="span2">
              <input type="checkbox" name="mainCheckbox">
              用户ID
            </th>
            <th class="span1">
              <span class="line"></span>姓名
            </th>
            <th class="span1">
              <span class="line"></span>登录名
            </th>
            <th class="span1">
              <span class="line"></span>用户email
            </th>
            <th class="span1">
              <span class="line"></span>所属机构
            </th>
            <th class="span1 sort <%if(typeof(condition)!='undefined' && typeof(condition.sortName)!='undefined' && typeof(condition.sortOrder)!='undefined'){%>datagrid-sort-<%=condition.sortOrder%><%}%>" 
              sort="create_date">
              <span class="line"></span>注册日期
              <span class="datagrid-sort-icon"></span>
            </th>
            <th class="span1">
              <span class="line"></span>用户mobile
            </th>
            <th class="span1">
              <span class="line"></span>用户类型
            </th>
            <th class="span1">
              <span class="line"></span>状态
            </th>
          </tr>
          </thead>
          <tbody>
          <% users.forEach(function(user){ %>
          <tr>
            <td>
              <input type="checkbox" name="subCheckbox" userId="<%=user.id%>">
              <a href="#" class="id"><%=user.id%></a>
            </td>
            <td class="description">
              <%=user.name%>
            </td>
            <td>
              <%=user.login_name%>
            </td>
            <td>
              <%=user.email%>
            </td>
            <td>
              <%=user.office_name%>
            </td>
            <td>
              <%=user.create_date%>
            </td>
            <td>
              <%=user.mobile%>
            </td>
            <td>
              <%=user.user_type_label%>
            </td>
            <td>
              <span class="label label-success">有效</span>
              <ul class="actions">
                <li><a href="/manage/user/edit?id=<%=user.id%>">编辑</a></li>
                <li class="last"><a href="javascript:void(0)" onclick="javascript:delUser('<%=user.id%>')">删除</a></li>
              </ul>
            </td>
          </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination">
      <%-include("../include/page")%>
    </div>
  </div>
</div>

<% include  ../include/manage_footer_res.ejs %>

<script type="text/javascript">
  function delUser(id) {
    $.confirm({
      title: '友情提示!',
      content: '请确认是否真的要删除该用户，此操作不可逆请谨慎操作!',
      boxWidth: '300px',
      useBootstrap: false,
      buttons: {
        confirm: {
          text: '确认',
          btnClass:'btn-flat default',
          action: function(){
            $.post('/manage/user/delete',{
              _csrf:'<%= csrf_token %>',
              id:id
            },function(data){
              if(data.result){
                window.location.reload();
              }else{
                noticeInfo('fail','非常抱歉，系统或网络发生异常，请重试!')
              }
            });
          }
        },
        cancel: {
          text: '取消',
          btnClass:'btn-flat white',
          action: function(){
            return;
          }
        }
      }
    });
  }

  $('input[name="mainCheckbox"]').click(function(){
    $('input[name="subCheckbox"]').each(function(){
      if($('input[name="mainCheckbox"]').is(':checked')){
        $(this).prop('checked',true);
        $(this).parent().addClass('checked');
      }else{
        $(this).prop('checked',false);
        $(this).parent().removeClass('checked');
      }
    });
  });

  $('input[name="subCheckbox"]').click(function(){
    //有一个为假总的就为假
    var checkbox = true;
    $('input[name="subCheckbox"]').each(function(){
      if(!$(this).prop('checked')){
        checkbox = false;
      }
    });
    $('input[name="mainCheckbox"]').prop('checked',checkbox);
    if(checkbox){
      $('input[name="mainCheckbox"]').parent().addClass('checked');
    }else{
      $('input[name="mainCheckbox"]').parent().removeClass('checked');
    }
  });

  $('#dels').click(function(){
    $.confirm({
      title: '友情提示!',
      content: '请确认是否真的要删除该用户，此操作不可逆请谨慎操作!',
      boxWidth: '300px',
      useBootstrap: false,
      buttons: {
        confirm: {
          text: '确认',
          btnClass:'btn-flat default',
          action: function(){
            var ids = '';
            $('input[name="subCheckbox"]').each(function(){
              if($(this).parent().hasClass('checked')){
                ids += $(this).attr('userId')+'|';
              }
            });
            if(ids==''){
              noticeInfo('fail','请选择至少一项后才能删除');
              return true;
            }

            $.post('/manage/user/delete',{
              ids:ids,
              _csrf:'<%= csrf_token %>'
            },function(data){
              if(data.result){
                window.location.reload();
              }else{
                noticeInfo('fail','非常抱歉，系统或网络发生异常，请重试!');
              }
            });
          }
        },
        cancel: {
          text: '取消',
          btnClass:'btn-flat white',
          action: function(){
            return;
          }
        }
      }
    });
  });

  $(window).load(function(){
    $('.table .sort').click(function(){
      var name = $(this).attr('sort');
      var order = '';
      if($(this).hasClass('datagrid-sort-asc')){
        $('.table .sort').removeClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        $(this).addClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        order = 'desc';
      }else if($(this).hasClass('datagrid-sort-desc')){
        $('.table .sort').removeClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        $(this).addClass('datagrid-sort-asc').removeClass('datagrid-sort-desc');
        order = 'asc';
      }else{
        $('.table .sort').removeClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        $(this).addClass('datagrid-sort-desc').removeClass('datagrid-sort-asc');
        order = 'desc';
      }

      var url = changeParam('sortName',name,window.location.href);
      url = changeParam('sortOrder',order,url);
      window.location.href = url;
    });
  });
</script>

</body>
</html>