<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>雨霏科技官方网站 - 欢迎您的光临</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">


    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="/ufeel/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/jpreloader.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/plugin.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/prettyPhoto.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/style.css" type="text/css">

    <!-- custom style css -->
    <link rel="stylesheet" href="/ufeel/css/custom-style.css" type="text/css">

    <!-- color scheme -->
    <link rel="stylesheet" href="/ufeel/css/color.css" type="text/css">

    <!-- revolution slider -->
    <link rel="stylesheet" href="/ufeel/rs-plugin/css/settings.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/rev-settings.css" type="text/css">

    <!-- load fonts -->
    <link rel="stylesheet" href="/ufeel/fonts/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/fonts/elegant_font/HTML_CSS/style.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/fonts/et-line-font/style.css" type="text/css">
    <script src="/ufeel/js/jquery.min.js"></script>
    <script src="/ufeel/js/jquery.validate.js"></script>

    <script src="/js/common/common.js"></script>
</head>

<body id="homepage">

    <!-- This section is for Splash Screen -->
    <div id="jSplash">
        <section class="selected">
            您好我们正在努力加载网站内容中。
        </section>
        <section>
            雨霏科技是一个经验丰富且沉淀多年的科技公司。
        </section>
        <section>
            我们在此恭候您的光临。
        </section>
    </div>
    <!-- End of Splash Screen -->


    <div id="wrapper">
        <div class="page-overlay">
        </div>

        <% include  ./include/header.ejs %>

        <!-- content begin -->
        <div id="content" class="no-bottom no-top">


            <!-- section begin -->
            <section id="section-welcome" class="full-height dark" data-speed="3" data-type="background">
                <div class="center-y text-center">
                    企业系统开发 / 模板及其个性化网站开发 / 艺术设计
                <div class="spacer-single"></div>
                    <div class="text-slider border-deco">
                        <div class="text-item">欢迎来到 <span class="id-color">雨霏科技</span></div>
                        <div class="text-item">我们为您提供的 &amp; <span class="id-color">不仅仅是产品</span></div>
                        <div class="text-item">项目开发产品定制 + <span class="id-color">技术支持</span></div>
                        <div class="text-item"><span class="id-color"><i class="icon-bike"></i></span>您准备好进入我们的家园了吗?</div>
                    </div>
                    <div class="spacer-single"></div>
                    <a href="/ufeel/template" target="_blank" class="btn btn-border btn-big">我们的模板库</a>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-about">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <h1 class="animated" data-animation="fadeInUp"><%=workPattern[0].title%><span class="id-color"><%=workPattern[0].remarks%></span>
                                    <span class="small-border animated" data-animation="fadeInUp"></span>
                                </h1>
                                <p class="lead animated" data-animation="fadeInUp">
                                    <%=workPattern[0].description%>
                                </p>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                        <!-- featured box begin -->
                        <div class="feature-box-small-icon box-fx center col-md-3 animated" data-animation="fadeInUp" data-delay="0">
                            <div class="inner">
                                <div class="front">
                                    <i class="icon-genius"></i>
                                    <h3><%=todoWorks[0].title%></h3>
                                    <span><%=todoWorks[0].description%></span>
                                </div>
                                <div class="info">
                                    <%=todoWorks[0].remarks%>
                                    <!--<a href="#" class="btn btn-border">Read More</a>-->
                                </div>
                            </div>
                        </div>
                        <!-- featured box close -->

                        <!-- featured box begin -->
                        <div class="feature-box-small-icon box-fx center col-md-3 animated" data-animation="fadeInUp" data-delay="200">
                            <div class="inner">
                                <div class="front">
                                    <i class="icon-linegraph"></i>
                                    <h3><%=todoWorks[1].title%></h3>
                                    <span><%=todoWorks[1].description%></span>
                                </div>
                                <div class="info">
                                    <%=todoWorks[1].remarks%>
                                </div>
                            </div>
                        </div>
                        <!-- featured box close -->

                        <!-- featured box begin -->
                        <div class="feature-box-small-icon box-fx center col-md-3 animated" data-animation="fadeInUp" data-delay="400">
                            <div class="inner">
                                <div class="front">
                                    <i class="icon-layers"></i>
                                    <h3><%=todoWorks[2].title%></h3>
                                    <span><%=todoWorks[2].description%></span>
                                </div>
                                <div class="info">
                                    <%=todoWorks[2].remarks%>
                                </div>
                            </div>
                        </div>
                        <!-- featured box close -->

                        <!-- featured box begin -->
                        <div class="feature-box-small-icon box-fx center col-md-3 animated" data-animation="fadeInUp" data-delay="600">
                            <div class="inner">
                                <div class="front">
                                    <i class="icon-heart"></i>
                                    <h3><%=todoWorks[3].title%></h3>
                                    <span><%=todoWorks[3].description%></span>
                                </div>
                                <div class="info">
                                    <%=todoWorks[3].remarks%>
                                </div>
                        </div>
                        <!-- featured box close -->

                    </div>
                </div>
            </section>

            <!-- section begin -->
            <section id="section-about-us-2" class="side-bg no-padding">
                <div class="image-container col-md-5 pull-left animated" data-animation="fadeInLeft" data-delay="0">
                    <%if(ourTodoImg[0].image_json){%>
                        <%ourTodoImg[0].image_json.forEach(function(img){%>
                            <img src="/getfile?id=<%=img.id%>&format=800x989" class="img-responsive"/>
                        <%})%>
                    <%}%>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding">
                            <div class="col-md-6 col-md-offset-6 animated" data-animation="fadeInRight" data-delay="200">
                                <h2><%=tese[0].title%></h2>

                                <p class="intro"><%=tese[0].description%></p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h3><%=tese[1].title%></h3>
                                        <p><%=tese[1].description%></p>
                                    </div>
                                    <div class="col-md-6">
                                        <h3><%=tese[2].title%></h3>
                                        <p><%=tese[2].description%></p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
            <!-- section begin -->
            <section class="no-padding dark" data-speed="5" data-type="background" style="z-index:1000;">
                <div class="de-video-container">
                    <div class="de-video-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <h1 class="animated" data-animation="fadeInUp"><%=readyUs[0].title%> <span class="id-color"><%=readyUs[0].description%></span>
                                        <span class="small-border animated" data-animation="fadeInUp"></span>
                                    </h1>
                                    <div class="animated" data-animation="fadeInUp">
                                        <%=readyUs[0].remarks%>
                                    	<div class="spacer-single"></div>
                                        <!--<a href="#" class="btn btn-border" data-animation="fadeIn">Click Here</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="de-video-overlay"></div>

                    <!-- load your video here -->
                    <video autoplay="" loop="" muted="" poster="video/video-1.jpg">
                        <source src="/ufeel/video/video-1.webm" type="video/webm" />
                        <source src="/ufeel/video/video-1.mp4" type="video/mp4" />
                        <source src="/ufeel/video/video-1.ogg" type="video/ogg" />
                    </video>


                </div>

            </section>
            <!-- section close -->

            <!-- team section begin -->
            <section id="section-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h1 class="animated" data-animation="fadeInUp"><%=teamInfo[0].title%> <span class="id-color"><%=teamInfo[0].remarks%></span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <p class="lead animated" data-animation="fadeInUp">
                                <%=teamInfo[0].description%>
                            </p>
                            <div class="spacer-single"></div>
                        </div>
                    </div>


                    <div class="row">
                        <%teamMem.forEach(function(mem){%>
                        <!-- team member -->
                        <div class="de-team-list col-md-3 animated" data-animation="fadeInUp" data-delay="0">
                            <div class="team-pic">
                                <%if(mem.image_json){%>
                                    <%mem.image_json.forEach(function(img){%>
                                        <img src="/getfile?id=<%=img.id%>&format=400x400" class="img-responsive"/>
                                    <%})%>
                                <%}%>
                            </div>
                            <div class="team-desc col-md-12">
                                <h3><%=mem.title%></h3>
                                <p class="lead"><%=mem.description%></p>
                                <div class="small-border"></div>
                                <p><%=mem.remarks%></p>

                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- team close -->
                        <%})%>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="fun-facts" class="dark" data-speed="7" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">一些有趣的 <span class="id-color">事实</span></h1>
                            <span class="small-border animated" data-animation="fadeInUp"></span>
                            <div class="spacer-single"></div>
                        </div>
                        
                        <div class="col-md-3 animated" data-animation="fadeInLeft" data-delay="100">
                            <div class="de_count">
                                <i class="icon-alarmclock animated" data-animation="fadeInDown" data-delay="0"></i>
                                <h3 class="timer" data-to="22784" data-speed="2500">0</h3>
                                <span>我们工作了多少小时</span>
                            </div>
                        </div>

                        <div class="col-md-3 animated" data-animation="fadeInLeft" data-delay="0">
                            <div class="de_count">
                                <i class="icon-documents animated" data-animation="fadeInDown" data-delay="200"></i>
                                <h3 class="timer" data-to="87600" data-speed="2500">0</h3>
                                <span>我们已经书写了多少代码</span>
                            </div>
                        </div>

                        <div class="col-md-3 animated" data-animation="fadeInRight" data-delay="0">
                            <div class="de_count">
                                <i class="icon-piechart animated" data-animation="fadeInDown" data-delay="400"></i>
                                <h3 class="timer" data-to="2741" data-speed="2500">0</h3>
                                <span>我们吃了多少便当</span>
                            </div>
                        </div>

                        <div class="col-md-3 animated" data-animation="fadeInRight" data-delay="100">
                            <div class="de_count">
                                <i class="icon-wine animated" data-animation="fadeInDown" data-delay="600"></i>
                                <h3 class="timer" data-to="520" data-speed="2500">0</h3>
                                <span>我们喝了多少杯咖啡</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-services" class="no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h1 class="animated" data-animation="fadeInUp"><%=fuwu[0].title%> <span class="id-color"><%=fuwu[0].remarks%></span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <p class="lead animated" data-animation="fadeInUp">
                                <%=fuwu[0].description%>
                            </p>
                            <div class="spacer-single"></div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="0">
                            <div class="inner">
                                <i class="icon-tools"></i>
                                <div class="text">
                                    <h3><%=services[0].title%></h3>
                                    <%=services[0].description%>
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="200">
                            <div class="inner">
                                <i class="icon-global"></i>
                                <div class="text">
                                    <h3><%=services[1].title%></h3>
                                    <%=services[1].description%>
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="400">
                            <div class="inner">
                                <i class="icon-megaphone"></i>
                                <div class="text">
                                    <h3><%=services[2].title%></h3>
                                    <%=services[2].description%>
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="600">
                            <div class="inner">
                                <i class="icon-phone"></i>
                                <div class="text">
                                    <h3><%=services[3].title%></h3>
                                    <%=services[3].description%>
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->


                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="800">
                            <div class="inner">
                                <i class="icon-magnifying-glass"></i>
                                <div class="text">
                                    <h3><%=services[4].title%></h3>
                                    <%=services[4].description%>
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="1000">
                            <div class="inner">
                                <i class="icon-pencil"></i>
                                <div class="text">
                                    <h3><%=services[5].title%></h3>
                                    <%=services[5].description%>
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <div class="spacer-single"></div>

                        <div class="col-md-12 text-center animated" data-animation="fadeInUp" data-delay="400">
                            <img src="/ufeel/images/cubic_ss.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-skill-bar" class="dark" data-speed="10" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">我们的核心 <span class="id-color">技术</span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <div class="spacer-single"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3>nodejs开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="98%">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h3>java开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="99%">
                                </div>
                            </div>
                        </div>
                        <div class="spacer-single"></div>

                        <div class="col-md-6">
                            <h3>安卓移动端开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="50%">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <h3>IOS移动端开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="30%">
                                </div>
                            </div>
                        </div>

                        <div class="spacer-single"></div>

                        <div class="col-md-6">
                            <h3>智能硬件应用</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="35%">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h3>桌面应用开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="20%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- section begin -->
            <section id="section-portfolio" class="no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">我们的 <span class="id-color">组品</span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <div class="spacer-single"></div>
                        </div>
                    </div>

                    <!-- portfolio filter begin -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul id="filters" class="animated" data-animation="fadeInUp" data-delay="200">
                                <li><a href="#" data-filter="*" class="selected">所有作品</a></li>
                                <li><a href="#" data-filter=".illustration">企业应用作品</a></li>
                                <li><a href="#" data-filter=".mobile">个人网站作品</a></li>
                                <li><a href="#" data-filter=".photography">移动端作品</a></li>
                                <li><a href="#" data-filter=".website">智能硬件作品</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- portfolio filter close -->

                </div>

                <div id="gallery" class="gallery full-gallery de-gallery pf_full_width animated" data-animation="fadeInUp" data-delay="200">

                    <!-- gallery item -->
                    <%qiyezuopin.forEach(function(qiye){%>
                    <div class="item illustration">
                        <div class="picframe">
                            <%if(qiye.image_json){%>
                                <%qiye.image_json.forEach(function(img){%>
                                    <span class="overlay">
                                        <span class="icon">
                                            <a href="/getfile?id=<%=img.id%>" data-type="prettyPhoto[gallery]"><i class="fa fa-search icon-view"></i></a>
                                        </span>
                                        <span class="icon">
                                            <i class="fa fa-align-justify fa-external-link icon-info"></i>
                                        </span>
                                        <span class="pf_text">
                                            <span class="project-name"><%=qiye.title%></span>
                                            <span><%=qiye.description%></span>
                                        </span>
                                    </span>
                                    <img src="/getfile?id=<%=img.id%>&format=700x466"/>
                                <%})%>
                            <%}%>
                        </div>
                    </div>
                    <%})%>
                    <!-- close gallery item -->

                    
                    <%gerenzuopin.forEach(function(geren){%>
                    <div class="item mobile">
                        <div class="picframe">
                            <%if(geren.image_json){%>
                                <%geren.image_json.forEach(function(img){%>
                                    <span class="overlay">
                                        <span class="icon">
                                            <a href="/getfile?id=<%=img.id%>" data-type="prettyPhoto[gallery]"><i class="fa fa-search icon-view"></i></a>
                                        </span>
                                        <span class="icon">
                                            <i class="fa fa-align-justify fa-external-link icon-info"></i>
                                        </span>
                                        <span class="pf_text">
                                            <span class="project-name"><%=geren.title%></span>
                                            <span><%=geren.description%></span>
                                        </span>
                                    </span>
                                    <img src="/getfile?id=<%=img.id%>&format=700x466"/>
                                <%})%>
                            <%}%>
                        </div>
                    </div>
                    <%})%>

                    
                    <%yidongzuopin.forEach(function(yidong){%>
                    <div class="item mobile">
                        <div class="picframe">
                            <%if(yidong.image_json){%>
                                <%yidong.image_json.forEach(function(img){%>
                                    <span class="overlay">
                                        <span class="icon">
                                            <a href="/getfile?id=<%=img.id%>" data-type="prettyPhoto[gallery]"><i class="fa fa-search icon-view"></i></a>
                                        </span>
                                        <span class="icon">
                                            <i class="fa fa-align-justify fa-external-link icon-info"></i>
                                        </span>
                                        <span class="pf_text">
                                            <span class="project-name"><%=yidong.title%></span>
                                            <span><%=yidong.description%></span>
                                        </span>
                                    </span>
                                    <img src="/getfile?id=<%=img.id%>&format=700x466"/>
                                <%})%>
                            <%}%>
                        </div>
                    </div>
                    <%})%>

                    <%yingjianzuopin.forEach(function(yingjian){%>
                    <div class="item mobile">
                        <div class="picframe">
                            <%if(yingjian.image_json){%>
                                <%yingjian.image_json.forEach(function(img){%>
                                    <span class="overlay">
                                        <span class="icon">
                                            <a href="/getfile?id=<%=img.id%>" data-type="prettyPhoto[gallery]"><i class="fa fa-search icon-view"></i></a>
                                        </span>
                                        <span class="icon">
                                            <i class="fa fa-align-justify fa-external-link icon-info"></i>
                                        </span>
                                        <span class="pf_text">
                                            <span class="project-name"><%=yingjian.title%></span>
                                            <span><%=yingjian.description%></span>
                                        </span>
                                    </span>
                                    <img src="/getfile?id=<%=img.id%>&format=700x466"/>
                                <%})%>
                            <%}%>
                        </div>
                    </div>
                    <%})%>

                </div>

                <div id="loader-area">
                    <div class="project-load"></div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="view-all-projects" class="call-to-action bg-color dark text-center" data-speed="5" data-type="background">
                <a href="/ufeel/cases" target="_blank" class="btn btn-border btn-big">查看所有项目</a>
            </section>
            <!-- logo carousel section close -->



            <!-- section begin -->
            <section id="section-testimonial" class="dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">我们的顾客 <span class="id-color">说</span></h1>
                            <span class="small-border animated" data-animation="fadeInUp"></span>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                    <div id="testimonial-carousel" class="de_carousel row animated" data-animation="fadeInUp" data-delay="200">
                        <%says.forEach(function(say){%>
                        <div class="col-md-4 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p><%=say.description%></p>
                                </blockquote>
                                <div class="de_testi_by">
                                    <div class="de_testi_pic">
                                        <%if(say.image_json){%>
                                            <%say.image_json.forEach(function(img){%>
                                                <img src="/getfile?id=<%=img.id%>&format=100x100" class="img-circle"/>
                                            <%})%>
                                        <%}%>
                                    </div>
                                    <div class="de_testi_company">
                                        <%=say.title%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h1 class="animated" data-animation="fadeInUp"><%=newsTitle[0].title%> <span class="id-color"><%=newsTitle[0].remarks%></span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <p class="lead animated" data-animation="fadeInUp">
                                <%=newsTitle[0].description%>
                            </p>
                            <div class="spacer-single"></div>
                        </div>
                    </div>

                    <div class="animated" data-animation="fadeInUp" data-delay="200">
                        <%news.forEach(function(news){%>
                        <div class="col-md-4 bloglist">
                            <div class="post-content">
                                <div class="post-image">
                                    <div class="flexslider blog-slider">
                                        <div class="overlay">
                                        </div>
                                        <ul class="slides">
                                            <li>
                                                <%if(news.image_json){%>
                                                    <%news.image_json.forEach(function(img){%>
                                                        <img src="/getfile?id=<%=img.id%>&format=800x400"/>
                                                    <%})%>
                                                <%}%>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="date-box"><span class="day"><%=news.remarks%></span> <span class="month"><%=news.color%></span> </div>
                                <div class="post-text">
                                    <h3><a href="css/#"><%=news.title%></a></h3>
                                    <%=news.description%>
                                </div>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="logo-full">
                <div class="container">
                    <!-- logo carousel -->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul id="logo-carousel" class="slides">
                                <%logos.forEach(function(logo){%>
                                    <li>
                                        <div class="col-md-2">
                                            <%if(logo.image_json){%>
                                                <%logo.image_json.forEach(function(img){%>
                                                    <img src="/getfile?id=<%=img.id%>&format=180x60"/>
                                                <%})%>
                                            <%}%>
                                        </div>
                                    </li>
                                <%})%>
                            </ul>
                        </div>
                        <!-- logo carousel close -->
                    </div>

                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-contact" class="dark" data-speed="5" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">与我们 <span class="id-color">联系</span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <p class="animated" data-animation="fadeIn">
                                您也可以留下您的联系方式，我们会即时联系您。
                            </p>
                            <div class="spacer-single"></div>
                        </div>

                        <div class="col-md-8 animated" data-animation="fadeInUp" data-delay="200" data-speed="5">

                            <form name="contactForm" id='contact_form' method="post" action=''>
                                <input type="hidden" name="category_id" value="89b81710510c11e793fd39b7741cea1f"/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type='text' name='name' id='name' class="form-control" placeholder="您的称呼">
                                    </div>
                                    <div class="col-md-6">
                                        <input type='text' name='phone' id='phone' class="form-control" placeholder="您的电话">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea name='content' id='content' style="position:relative" class="form-control" placeholder="您的留言"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <p id='submit'>
                                            <input type='submit' id='send' value='确认提交' style="background-color:transparent;color:#FFFFFF;" class="btn btn-border">
                                        </p>
                                    </div>
                                </div>
                            </form>
                            <script>
                                $("form[name='contactForm']").validate({
                                    rules: {
                                        name: "required",
                                        phone: "required",
                                        content: "required"
                                    },
                                    messages: {
                                        name: "称呼必须填写后提交",
                                        phone: "手机号码必须填写后提交",
                                        content: "内容必须填写后提交"
                                    },
                                    submitHandler:function(form){
                                        alert(123);
                                        $.post('/ufeel/msgboard',$('form[name="contactForm"]').serialize(),function(data){
                                            if(data.result){
                                                alert('您的信息发送成功，我们会地址时间与您沟通联系的。');
                                            }else{
                                                alert('对不起，网络错误您提交的信息发送失败。');
                                            }
                                        }).error(function(data) {
                                            alert('网络错误创建失败!请重试。');
                                        });
                                    }
                                });
                            </script>
                        </div>

                        <div class="col-md-4">
                            <address>
                                <span><i class="fa fa-map-marker fa-lg"></i><%=contact[0].title%></span>
                                <span><i class="fa fa-phone fa-lg"></i><%=contact[0].description%></span>
                                <span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com"><%=contact[0].remarks%></a></span>
                                <span><i class="fa fa-globe fa-lg"></i><a href="#"><%=contact[0].link%></a></span>
                            </address>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- footer begin -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-envelope-o fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                            </div>
                            <div class="spacer-single"></div>
                            © Copyright 2014 - Cubic by Designesia. More Templates - Collect from 
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer close -->
        </div>
    </div>


    <!-- Javascript Files
    ================================================== -->
    <script src="/ufeel/js/jpreLoader.js"></script>
    <script src="/ufeel/js/bootstrap.min.js"></script>
    <script src="/ufeel/js/jquery.isotope.min.js"></script>
    <script src="/ufeel/js/jquery.prettyPhoto.js"></script>
    <script src="/ufeel/js/easing.js"></script>
    <script src="/ufeel/js/jquery.ui.totop.js"></script>
    <script src="/ufeel/js/jquery.flexslider-min.js"></script>
    <script src="/ufeel/js/jquery.scrollto.js"></script>
    <script src="/ufeel/js/owl.carousel.js"></script>
    <script src="/ufeel/js/jquery.countTo.js"></script>
    <script src="/ufeel/js/classie.js"></script>
    <script src="/ufeel/js/designesia.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="/ufeel/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/ufeel/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
</body>
</html>
