<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>雨霏科技 - 欢迎您的光临</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">


    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="/ufeel/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/jpreloader.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/plugin.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/prettyPhoto.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/style.css" type="text/css">

    <!-- custom style css -->
    <link rel="stylesheet" href="/ufeel/css/custom-style.css" type="text/css">

    <!-- color scheme -->
    <link rel="stylesheet" href="/ufeel/css/color.css" type="text/css">

    <!-- revolution slider -->
    <link rel="stylesheet" href="/ufeel/rs-plugin/css/settings.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/css/rev-settings.css" type="text/css">

    <!-- load fonts -->
    <link rel="stylesheet" href="/ufeel/fonts/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/fonts/elegant_font/HTML_CSS/style.css" type="text/css">
    <link rel="stylesheet" href="/ufeel/fonts/et-line-font/style.css" type="text/css">

    <script src="/js/common/common.js"></script>
</head>

<body id="homepage">

    <!-- This section is for Splash Screen -->
    <div id="jSplash">
        <section class="selected">
            您好我们正在努力加载网站内容中。
        </section>
        <section>
            雨霏科技是一个经验丰富且沉淀多年的科技公司。
        </section>
        <section>
            我们在此恭候您的光临。
        </section>
    </div>
    <!-- End of Splash Screen -->


    <div id="wrapper">
        <div class="page-overlay">
        </div>

        <% include  ./include/header.ejs %>

        <!-- content begin -->
        <div id="content" class="no-bottom no-top">


            <!-- section begin -->
            <section id="section-welcome" class="full-height dark" data-speed="3" data-type="background">
                <div class="center-y text-center">
                    企业系统开发 / 模板及其个性化网站开发 / 艺术设计
                <div class="spacer-single"></div>
                    <div class="text-slider border-deco">
                        <div class="text-item">欢迎来到 <span class="id-color">雨霏科技</span></div>
                        <div class="text-item">我们为您提供的 &amp; <span class="id-color">不仅仅是产品</span></div>
                        <div class="text-item">项目开发产品定制 + <span class="id-color">技术支持</span></div>
                        <div class="text-item"><span class="id-color"><i class="icon-bike"></i></span>您准备好进入我们的家园了吗?</div>
                    </div>
                    <div class="spacer-single"></div>
                    <a href="/ufeel/template" target="_blank" class="btn btn-border btn-big">我们的模板库</a>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-about">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <h1 class="animated" data-animation="fadeInUp"><%=workPattern[0].title%><span class="id-color"><%=workPattern[0].remarks%></span>
                                    <span class="small-border animated" data-animation="fadeInUp"></span>
                                </h1>
                                <p class="lead animated" data-animation="fadeInUp">
                                    <%=workPattern[0].description%>
                                </p>
                                <div class="spacer-single"></div>
                            </div>
                        </div>
                        <!-- featured box begin -->
                        <div class="feature-box-small-icon box-fx center col-md-3 animated" data-animation="fadeInUp" data-delay="0">
                            <div class="inner">
                                <div class="front">
                                    <i class="icon-genius"></i>
                                    <h3><%=todoWorks[0].title%></h3>
                                    <span><%=todoWorks[0].description%></span>
                                </div>
                                <div class="info">
                                    <%=todoWorks[0].remarks%>
                                    <!--<a href="#" class="btn btn-border">Read More</a>-->
                                </div>
                            </div>
                        </div>
                        <!-- featured box close -->

                        <!-- featured box begin -->
                        <div class="feature-box-small-icon box-fx center col-md-3 animated" data-animation="fadeInUp" data-delay="200">
                            <div class="inner">
                                <div class="front">
                                    <i class="icon-linegraph"></i>
                                    <h3><%=todoWorks[1].title%></h3>
                                    <span><%=todoWorks[1].description%></span>
                                </div>
                                <div class="info">
                                    <%=todoWorks[1].remarks%>
                                </div>
                            </div>
                        </div>
                        <!-- featured box close -->

                        <!-- featured box begin -->
                        <div class="feature-box-small-icon box-fx center col-md-3 animated" data-animation="fadeInUp" data-delay="400">
                            <div class="inner">
                                <div class="front">
                                    <i class="icon-layers"></i>
                                    <h3><%=todoWorks[2].title%></h3>
                                    <span><%=todoWorks[2].description%></span>
                                </div>
                                <div class="info">
                                    <%=todoWorks[2].remarks%>
                                </div>
                            </div>
                        </div>
                        <!-- featured box close -->

                        <!-- featured box begin -->
                        <div class="feature-box-small-icon box-fx center col-md-3 animated" data-animation="fadeInUp" data-delay="600">
                            <div class="inner">
                                <div class="front">
                                    <i class="icon-heart"></i>
                                    <h3><%=todoWorks[3].title%></h3>
                                    <span><%=todoWorks[3].description%></span>
                                </div>
                                <div class="info">
                                    <%=todoWorks[3].remarks%>
                                </div>
                        </div>
                        <!-- featured box close -->

                    </div>
                </div>
            </section>

            <!-- section begin -->
            <section id="section-about-us-2" class="side-bg no-padding">
                <div class="image-container col-md-5 pull-left animated" data-animation="fadeInLeft" data-delay="0">
                    <script>
                        var imgStr = '<%-ourTodoImg[0].image%>';
                        jsonImgPrint(imgStr,'_800x989','img-responsive');
                    </script>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="inner-padding">
                            <div class="col-md-6 col-md-offset-6 animated" data-animation="fadeInRight" data-delay="200">
                                <h2><%=tese[0].title%></h2>

                                <p class="intro"><%=tese[0].description%></p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h3><%=tese[1].title%></h3>
                                        <p><%=tese[1].description%></p>
                                    </div>
                                    <div class="col-md-6">
                                        <h3><%=tese[2].title%></h3>
                                        <p><%=tese[2].description%></p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
            <!-- section begin -->
            <section class="no-padding dark" data-speed="5" data-type="background" style="z-index:1000;">
                <div class="de-video-container">
                    <div class="de-video-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <h1 class="animated" data-animation="fadeInUp"><%=readyUs[0].title%> <span class="id-color"><%=readyUs[0].description%></span>
                                        <span class="small-border animated" data-animation="fadeInUp"></span>
                                    </h1>
                                    <div class="animated" data-animation="fadeInUp">
                                        <%=readyUs[0].remarks%>
                                    	<div class="spacer-single"></div>
                                        <!--<a href="#" class="btn btn-border" data-animation="fadeIn">Click Here</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="de-video-overlay"></div>

                    <!-- load your video here -->
                    <video autoplay="" loop="" muted="" poster="video/video-1.jpg">
                        <source src="/ufeel/video/video-1.webm" type="video/webm" />
                        <source src="/ufeel/video/video-1.mp4" type="video/mp4" />
                        <source src="/ufeel/video/video-1.ogg" type="video/ogg" />
                    </video>


                </div>

            </section>
            <!-- section close -->

            <!-- team section begin -->
            <section id="section-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h1 class="animated" data-animation="fadeInUp"><%=teamInfo[0].title%> <span class="id-color"><%=teamInfo[0].remarks%></span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <p class="lead animated" data-animation="fadeInUp">
                                <%=teamInfo[0].description%>
                            </p>
                            <div class="spacer-single"></div>
                        </div>
                    </div>


                    <div class="row">
                        <%teamMem.forEach(function(mem){%>
                        <!-- team member -->
                        <div class="de-team-list col-md-3 animated" data-animation="fadeInUp" data-delay="0">
                            <div class="team-pic">
                                <script>
                                    var imgStr = '<%-mem.image%>';
                                    jsonImgPrint(imgStr,'_400x400','img-responsive');
                                </script>
                            </div>
                            <div class="team-desc col-md-12">
                                <h3><%=mem.title%></h3>
                                <p class="lead"><%=mem.description%></p>
                                <div class="small-border"></div>
                                <p><%=mem.remarks%></p>

                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- team close -->
                        <%})%>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="fun-facts" class="dark" data-speed="7" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">一些有趣的 <span class="id-color">事实</span></h1>
                            <span class="small-border animated" data-animation="fadeInUp"></span>
                            <div class="spacer-single"></div>
                        </div>
                        
                        <div class="col-md-3 animated" data-animation="fadeInLeft" data-delay="100">
                            <div class="de_count">
                                <i class="icon-alarmclock animated" data-animation="fadeInDown" data-delay="0"></i>
                                <h3 class="timer" data-to="22784" data-speed="2500">0</h3>
                                <span>我们工作了多少小时</span>
                            </div>
                        </div>

                        <div class="col-md-3 animated" data-animation="fadeInLeft" data-delay="0">
                            <div class="de_count">
                                <i class="icon-documents animated" data-animation="fadeInDown" data-delay="200"></i>
                                <h3 class="timer" data-to="87600" data-speed="2500">0</h3>
                                <span>我们已经书写了多少代码</span>
                            </div>
                        </div>

                        <div class="col-md-3 animated" data-animation="fadeInRight" data-delay="0">
                            <div class="de_count">
                                <i class="icon-piechart animated" data-animation="fadeInDown" data-delay="400"></i>
                                <h3 class="timer" data-to="2741" data-speed="2500">0</h3>
                                <span>我们吃了多少便当</span>
                            </div>
                        </div>

                        <div class="col-md-3 animated" data-animation="fadeInRight" data-delay="100">
                            <div class="de_count">
                                <i class="icon-wine animated" data-animation="fadeInDown" data-delay="600"></i>
                                <h3 class="timer" data-to="520" data-speed="2500">0</h3>
                                <span>我们喝了多少杯咖啡</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="section-services" class="no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h1 class="animated" data-animation="fadeInUp">我们的 <span class="id-color">服务</span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <p class="lead animated" data-animation="fadeInUp">
                                我们的业务范围广阔，开发的实际项目也非常的丰富。无论是小中大型网站或安卓IOS移动客服端甚至智能硬件我们均有开发经验
                            </p>
                            <div class="spacer-single"></div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="0">
                            <div class="inner">
                                <i class="icon-tools"></i>
                                <div class="text">
                                    <h3>企业及其门户网站设计</h3>
                                    对于需要快速开发获得经典网站的用户，或者个性定制化的用户我们都能快速相应，大到大型门户网站，视频，交易，音乐均可为您设计
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="200">
                            <div class="inner">
                                <i class="icon-global"></i>
                                <div class="text">
                                    <h3>web程序开发</h3>
                                    我们能够设计的技术广阔，无论是支持高并发的nodejs,或者高安全性的java,甚至流行的php我们都可以开发
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="400">
                            <div class="inner">
                                <i class="icon-megaphone"></i>
                                <div class="text">
                                    <h3>技术支持服务</h3>
                                    无论您由于高并发头痛，还是程序架构凌乱导致成本大幅度上涨，我们都可以为了提供各种行之有效的解决方案
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="600">
                            <div class="inner">
                                <i class="icon-phone"></i>
                                <div class="text">
                                    <h3>移动应用开发</h3>
                                    无论是IOS应用开发，还是安卓应用开发我们都有丰富的开发经验和实际案例，相信能解决您的大部分问题
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->


                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="800">
                            <div class="inner">
                                <i class="icon-magnifying-glass"></i>
                                <div class="text">
                                    <h3>SEO服务</h3>
                                    我们还能够为您提供网站的关键字推广及其优化，搜索引擎抓取度的服务
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="feature-box-small-icon col-md-4 animated" data-animation="fadeInUp" data-delay="1000">
                            <div class="inner">
                                <i class="icon-pencil"></i>
                                <div class="text">
                                    <h3>技术员支持</h3>
                                    也许您有了自己的团队和公司，但遇到了一些无法解决的头痛问题，我们还可以为您提供经验丰富的技术员为您们提供技术支持
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <div class="spacer-single"></div>

                        <div class="col-md-12 text-center animated" data-animation="fadeInUp" data-delay="400">
                            <img src="/ufeel/images/cubic_ss.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-skill-bar" class="dark" data-speed="10" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">我们的核心 <span class="id-color">技术</span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <div class="spacer-single"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3>nodejs开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="98%">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h3>java开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="99%">
                                </div>
                            </div>
                        </div>
                        <div class="spacer-single"></div>

                        <div class="col-md-6">
                            <h3>安卓移动端开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="50%">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <h3>IOS移动端开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="30%">
                                </div>
                            </div>
                        </div>

                        <div class="spacer-single"></div>

                        <div class="col-md-6">
                            <h3>智能硬件应用</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="35%">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <h3>桌面应用开发</h3>
                            <div class="de-progress">
                                <div class="progress-bar" data-value="20%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- section begin -->
            <section id="section-portfolio" class="no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">我们的 <span class="id-color">组品</span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <div class="spacer-single"></div>
                        </div>
                    </div>

                    <!-- portfolio filter begin -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul id="filters" class="animated" data-animation="fadeInUp" data-delay="200">
                                <li><a href="#" data-filter="*" class="selected">所有作品</a></li>
                                <li><a href="#" data-filter=".illustration">企业应用作品</a></li>
                                <li><a href="#" data-filter=".mobile">个人网站作品</a></li>
                                <li><a href="#" data-filter=".photography">移动端作品</a></li>
                                <li><a href="#" data-filter=".website">智能硬件作品</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- portfolio filter close -->

                </div>

                <div id="gallery" class="gallery full-gallery de-gallery pf_full_width animated" data-animation="fadeInUp" data-delay="200">

                    <!-- gallery item -->
                    <%qiyezuopin.forEach(function(qiye){%>
                    <div class="item illustration">
                        <div class="picframe">
                            <span class="overlay">
                                <span class="icon">
                                    <a href="/ufeel/images/portfolio/pf%20(1).jpg" data-type="prettyPhoto[gallery]"><i class="fa fa-search icon-view"></i></a>
                                </span>
                                <span class="icon">
                                    <i class="fa fa-align-justify fa-external-link icon-info"></i>
                                </span>
                                <span class="pf_text">
                                    <span class="project-name"><%=qiye.title%></span>
                                    <span><%=qiye.description%></span>
                                </span>
                            </span>
                            <script>
                                var imgStr = '<%-qiye.image%>';
                                jsonImgPrint(imgStr,'_700x466');
                            </script>
                        </div>
                    </div>
                    <%})%>
                    <!-- close gallery item -->

                    
                    <%gerenzuopin.forEach(function(geren){%>
                    <div class="item mobile">
                        <div class="picframe">
                            <span class="overlay">
                                <span class="icon">
                                    <a href="/ufeel/images/portfolio/pf%20(1).jpg" data-type="prettyPhoto[gallery]"><i class="fa fa-search icon-view"></i></a>
                                </span>
                                <span class="icon">
                                    <i class="fa fa-align-justify fa-external-link icon-info"></i>
                                </span>
                                <span class="pf_text">
                                    <span class="project-name"><%=geren.title%></span>
                                    <span><%=geren.description%></span>
                                </span>
                            </span>
                            <script>
                                var imgStr = '<%-geren.image%>';
                                jsonImgPrint(imgStr,'_700x466');
                            </script>
                        </div>
                    </div>
                    <%})%>

                    
                    <%yidongzuopin.forEach(function(yidong){%>
                    <div class="item mobile">
                        <div class="picframe">
                            <span class="overlay">
                                <span class="icon">
                                    <a href="/ufeel/images/portfolio/pf%20(1).jpg" data-type="prettyPhoto[gallery]"><i class="fa fa-search icon-view"></i></a>
                                </span>
                                <span class="icon">
                                    <i class="fa fa-align-justify fa-external-link icon-info"></i>
                                </span>
                                <span class="pf_text">
                                    <span class="project-name"><%=yidong.title%></span>
                                    <span><%=yidong.description%></span>
                                </span>
                            </span>
                            <script>
                                var imgStr = '<%-yidong.image%>';
                                jsonImgPrint(imgStr,'_700x466');
                            </script>
                        </div>
                    </div>
                    <%})%>

                    <%yingjianzuopin.forEach(function(yingjian){%>
                    <div class="item mobile">
                        <div class="picframe">
                            <span class="overlay">
                                <span class="icon">
                                    <a href="/ufeel/images/portfolio/pf%20(1).jpg" data-type="prettyPhoto[gallery]"><i class="fa fa-search icon-view"></i></a>
                                </span>
                                <span class="icon">
                                    <i class="fa fa-align-justify fa-external-link icon-info"></i>
                                </span>
                                <span class="pf_text">
                                    <span class="project-name"><%=yingjian.title%></span>
                                    <span><%=yingjian.description%></span>
                                </span>
                            </span>
                            <script>
                                var imgStr = '<%-yingjian.image%>';
                                jsonImgPrint(imgStr,'_700x466');
                            </script>
                        </div>
                    </div>
                    <%})%>

                </div>

                <div id="loader-area">
                    <div class="project-load"></div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="view-all-projects" class="call-to-action bg-color dark text-center" data-speed="5" data-type="background">
                <a href="/ufeel/cases" target="_blank" class="btn btn-border btn-big">查看所有项目</a>
            </section>
            <!-- logo carousel section close -->



            <!-- section begin -->
            <section id="section-testimonial" class="dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">我们的顾客 <span class="id-color">说</span></h1>
                            <span class="small-border animated" data-animation="fadeInUp"></span>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                    <div id="testimonial-carousel" class="de_carousel row animated" data-animation="fadeInUp" data-delay="200">
                        <%says.forEach(function(say){%>
                        <div class="col-md-4 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p><%=say.description%></p>
                                </blockquote>
                                <div class="de_testi_by">
                                    <div class="de_testi_pic">
                                        <img id="<%-say.id%>" class="img-circle"/>
                                        <script>
                                            var imgStr = '<%-say.image%>';
                                            var src = jsonImgPrintOnlySrc(imgStr,'_100x100');
                                            $('#<%-say.id%>').attr('src',src);
                                        </script>
                                    </div>
                                    <div class="de_testi_company">
                                        <%=say.title%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h1 class="animated" data-animation="fadeInUp"><%=newsTitle[0].title%> <span class="id-color"><%=newsTitle[0].remarks%></span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <p class="lead animated" data-animation="fadeInUp">
                                <%=newsTitle[0].description%>
                            </p>
                            <div class="spacer-single"></div>
                        </div>
                    </div>

                    <div class="animated" data-animation="fadeInUp" data-delay="200">
                        <%news.forEach(function(news){%>
                        <div class="col-md-4 bloglist">
                            <div class="post-content">
                                <div class="post-image">
                                    <div class="flexslider blog-slider">
                                        <div class="overlay">
                                        </div>
                                        <ul class="slides">
                                            <li>
                                                <img id="<%-news.id%>"/>
                                                <script>
                                                    var imgStr = '<%-news.image%>';
                                                    var src = jsonImgPrintOnlySrc(imgStr,'_800x400');
                                                    $('#<%-news.id%>').attr('src',src);
                                                </script>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="date-box"><span class="day"><%=news.remarks%></span> <span class="month"><%=news.color%></span> </div>
                                <div class="post-text">
                                    <h3><a href="css/#"><%=news.title%></a></h3>
                                    <%=news.description%>
                                </div>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
            <section id="logo-full">
                <div class="container">
                    <!-- logo carousel -->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul id="logo-carousel" class="slides">
                                <li>
                                    <div class="col-md-2">
                                        <img src="/ufeel/images/logo/1.png" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-2">
                                        <img src="/ufeel/images/logo/2.png" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-2">
                                        <img src="/ufeel/images/logo/3.png" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-2">
                                        <img src="/ufeel/images/logo/4.png" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-2">
                                        <img src="/ufeel/images/logo/5.png" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-2">
                                        <img src="/ufeel/images/logo/6.png" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-2">
                                        <img src="/ufeel/images/logo/7.png" alt="">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-md-2">
                                        <img src="/ufeel/images/logo/8.png" alt="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- logo carousel close -->
                    </div>

                </div>
            </section>
            <!-- section close -->


            <!-- section begin -->
            <section id="section-contact" class="dark" data-speed="5" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="animated" data-animation="fadeInUp">与我们 <span class="id-color">联系</span>
                                <span class="small-border animated" data-animation="fadeInUp"></span>
                            </h1>
                            <p class="animated" data-animation="fadeIn">
                                您也可以留下您的联系方式，我们会即时联系您。
                            </p>
                            <div class="spacer-single"></div>
                        </div>

                        <div class="col-md-8 animated" data-animation="fadeInUp" data-delay="200" data-speed="5">

                            <form name="contactForm" id='contact_form' method="post" action='email.php'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id='name_error' class='error'>请填写您的称呼。</div>
                                        <div>
                                            <input type='text' name='name' id='name' class="form-control" placeholder="您的称呼">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id='email_error' class='error'>请填写您的电话号码。</div>
                                        <div>
                                            <input type='text' name='email' id='email' class="form-control" placeholder="您的电话">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div id='message_error' class='error'>请填写您的留言信息。</div>
                                        <div>
                                            <textarea name='message' id='message' class="form-control" placeholder="您的留言"></textarea>
                                        </div>
                                    </div>
                                    <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                    <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.</div>
                                    <div class="col-md-12">
                                        <p id='submit'>
                                            <input type='submit' id='send_message' value='确认提交' class="btn btn-border">
                                        </p>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-md-4">
                            <address>
                                <span><i class="fa fa-map-marker fa-lg"></i>重庆市沙坪坝区大公村52-7-1号</span>
                                <span><i class="fa fa-phone fa-lg"></i>(86) 185 8087 1178</span>
                                <span><i class="fa fa-envelope-o fa-lg"></i><a href="mailto:contact@example.com">6347536@qq.com</a></span>
                                <span><i class="fa fa-globe fa-lg"></i><a href="#">support.cubic.com</a></span>
                            </address>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <!-- footer begin -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-envelope-o fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                            </div>
                            <div class="spacer-single"></div>
                            © Copyright 2014 - Cubic by Designesia. More Templates - Collect from 
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer close -->
        </div>
    </div>


    <!-- Javascript Files
    ================================================== -->
    <script src="/ufeel/js/jquery.min.js"></script>
    <script src="/ufeel/js/jpreLoader.js"></script>
    <script src="/ufeel/js/bootstrap.min.js"></script>
    <script src="/ufeel/js/jquery.isotope.min.js"></script>
    <script src="/ufeel/js/jquery.prettyPhoto.js"></script>
    <script src="/ufeel/js/easing.js"></script>
    <script src="/ufeel/js/jquery.ui.totop.js"></script>
    <script src="/ufeel/js/jquery.flexslider-min.js"></script>
    <script src="/ufeel/js/jquery.scrollto.js"></script>
    <script src="/ufeel/js/owl.carousel.js"></script>
    <script src="/ufeel/js/jquery.countTo.js"></script>
    <script src="/ufeel/js/classie.js"></script>
    <script src="/ufeel/js/designesia.js"></script>
    <script src="/ufeel/js/validation.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="/ufeel/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/ufeel/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

</body>
</html>
